/* 1 - Google Font
------------------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,800italic,300italic,300&subset=latin,greek,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&subset=latin,latin-ext);
/* 1 - Google Font End 
------------------------------------------------------------------------*/


/* 2 - General styles
---------------------------------------------------------------------- */
body {
    background: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    -webkit-font-smoothing: subpixel-antialiased !important;
    -moz-font-smoothing: subpixel-antialiased !important;
    -ms-font-smoothing: subpixel-antialiased !important;
    /*-0-font-smoothing: subpixel-antialiased !important;*/
    text-rendering: optimizeLegibility !important;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    overflow-scrolling: touch;
}
*{
    margin: 0;
    padding: 0;
    outline: none !important;
}
.clear{
    clear: both;
    font-size: 0;
    line-height: 0;
}
a,
a:hover,
a:focus{
    text-decoration: none;
}
.bg-color
{
    background-color: #b3c211 !important;
}
.border-color{
    border-color: #b3c211 !important;
}
.bg-color-v2{
    background-color: #2c2c2c !important;
    color: #fff !important;
}
.bg-color-v3{
    background-color: #0f98ce !important;   
}
.color{
    color: #b3c211 !important;
}
.content-wrapper{
    float: left;
    width: 100%;
    margin: 0 0 7px 0;
    background-color: #fff;
    border: 1px solid #d9d9d9;
}
.heading-title{
    float: left;
    width: 100%;
    margin: 20px 0;
}
.page-title{
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
}
.post-title{
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 5px 0;
    text-transform: capitalize;
}
.wrapper{
    position: relative;
    z-index: 99;
}
.logo{
    float: left;
}
.logo img {
    height: 70px;
    width: 100px;
}
.search-btn{
    font-size: 22px;
}
.form-filed{
    float: left;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    margin: 5px 0;
    background-color: #fff;
    border:none;
    color: #000;
    font-weight: 600;
}
.job-title {
    font-size:30px;
    font-weight: 700;
    padding-bottom: 12px;
    text-transform: uppercase;
    word-spacing: 2px;
    margin: 0 0 10px 0;
    display: inline-block;
    color: #b3c211;
}
.custom-theme4-job-title {
    font-weight: 400; 
    text-transform: capitalize; 
    padding-bottom: 0; 
    font-size: 44px;
}
.section-title {
    font-size:30px;
    font-weight: 700;
    padding-bottom: 12px;
    text-transform: uppercase;
    word-spacing: 2px;
    margin: 0 0 10px 0;
    display: inline-block;
}
.section-title span {
    color: #b3c211;
    margin: 0 0 0 8px;
}
.section-description {
    font-size: 1em;
    font-weight: 300;
    padding: 0px 15%;
}
.section-details {
    display: inline-block;
    padding-top: 30px;
}
.btn-container {
    padding-top: 18px;
}
.btn {
    background: transparent;
    border-radius: 0px;
    color: #a7a7a8;
    font-size: .8125em;
    padding: 13px 28px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.media-left {
    padding: 0px;
}
/* 3 -------- Header Styles ---------*/

.masthead {
    background: transparent;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    margin: 0px;
    z-index: 10;
}
.navbar-brand img {
  width: 80px;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.open>a:hover {
    background: transparent;
    box-shadow: none;
    color: #ffffff;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background: transparent;
}
.navbar-nav li a {
    box-shadow: none;
    color: #ffffff !important;
    font-size: 14px;
    font-weight: 400;
    padding: 3px 12px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
.navbar-nav li a i{
    margin: 0 5px 0 0;
}
.bg-change {
    background: #1b1b1b;
}
.head-overlay iframe{
    height: 500px;
    border:none;
}
.head-overlay img{
    width: 100%;
}


/*  Main Start
===============================*/

.advance-search{
    float: left;
    width: 100%;
    padding: 15px 0;
    margin: 0 0 20px 0;
    box-shadow: 0 -3px 0px rgba(179, 194, 17, 0.5);
    background-color: #b3c211;
}
.input-field {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    color: #000;
    float: left;
    height: 40px;
    padding: 0 5px;
    width: 100%;
    font-weight: 600;
}
.input-field option{
    padding: 5px 10px;
}
.hr-select-dropdown{
    position: relative;
    float: left;
    width: 100%;
    height: 40px;
}
.hr-select-dropdown select{
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}
.hr-select-dropdown:after{
    content: "\f078";
    position: absolute;
    top: 0;
    right: 5px;
    width: 25px;
    height: 50px;
    color: #000;
    font-size: 12px;
    cursor: pointer;
    font-family: 'FontAwesome';
    text-align: center;
    line-height: 40px;
    pointer-events: none;
}
.form-btn{
    display: inline-block;
    padding: 0 10px;
    text-transform: uppercase;
}
.article-list{
    float: left;
    width: 100%;
    padding: 15px;
    margin: -1px 0 0 0;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
}
.article-list:hover{    
    position: relative;
    z-index: 2;
    background-color: #f6f6f6;
    border-top: 1px solid #b3c211;
    border-bottom: 1px solid #b3c211;
}
.article-list figure{
    float: left;
    width: 80px;
    height: 80px;
    padding: 10px;
    border:1px solid #a4a4a4;
}
.article-list figure img{
    width: 100%;
    height: 100%;
}
.article-list .text{
    margin: 0 0 0 100px;
}
.title-area{
    float: left;
    width: 72%;
}
.btn-area{
    float: left;
    width: 28%;
    padding: 15px 0 0 0;
}
.btn-area ul{
    margin: 0;
    float: right;
}
.btn-area ul li{
    float: left;
    list-style: none;
}
.title-area h2 a{
    color:#000;
}
.post-option{
    float: left;
    color: #000;
    margin: 3px 10px 0 0;
}
.post-option ul{
    margin: 0;
}
.post-option ul li{
    float: left;
    list-style: none;
    margin: 0 20px 0 0;
}
.post-option ul li i {
    float: left;
    font-size: 23px;
}
.post-option ul li:last-child i{
    font-size: 20px;
}
.post-option .op-text{
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 600;
    margin: 0 0 0 30px;
}
.site-btn {
    background-color: #b3c211;
    border: medium none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    display: inline-block;  
    font-weight: 600;
    margin: 5px;
    padding: 10px 20px;
    text-align: center;
    text-transform: capitalize;
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    min-width: 117px;
}
.site-btn:hover{
    color: #fff;
}
.job-detail-banner{
    float: left;
    width: 100%;
    position: relative;
    background: url(../images/img-detail-banner.jpg);
    background-size: 100% 100%;
}
.job-detail-banner img{
    width: 100%;
}
.detail-banner-caption{
    float: left;
    width: 100%;
    padding: 100px 0 70px 20px;
}
.detail-banner-caption h1{
    text-align: center;
}
.job-categories{
    float: left;
    width: 100%;
    color: #fff;
}
.job-categories span{
    font-size: 25px;
    float: left;
    text-transform: uppercase;
}
.job-categories ul{
    float: left;
    margin: 0 0 0 10px;
}
.job-categories ul li{
    display: inline-block;
    margin: 0 2px;
    list-style: none;
    margin: 7px 0 0 0;
    font-weight: 600;
    position: relative;
}
.view-count {
    border-radius: 5px;
    height: 35px;
    left: 0;
    line-height: 35px;
    position: absolute;
    text-align: center;
    top: -23px;
    min-width: 117px;
}
.job-info{
    float: left;
    width: 100%;
    margin: 20px 0 0 0;
}
.job-info ul{
    float: left;
    margin: 0;
}
.job-info ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px 0 0;
    padding: 4px 0 0 0;
    font-weight: 600;
    position: relative;
    color: #fff;
}
.job-info ul li a{
    color: #fff;
}
.job-info ul li:before {
    content: "";
    margin:0 10px;
    width: 1px;
    height: 18px;
    top: 7px;
    right: -20px;
    position: absolute;
    background-color: #8c8f91;
}
.job-info ul li:last-child:before{
    display: none;
}
.job-video{
    text-align: center;
    width: 100%;
    margin: 40px 0;
    float: left;
}
.job-video iframe{
    display: inline-block;
    width: 750px;
    height: 400px;
    border: none;
}
.job-description-text {
    float: left;
    text-align: left;
    width: 100%;
  
    margin: 0 0 40px 0;
}
.job-description-text strong{
   /* display: inline-block;*/
    width: 100%;
    font-size: 18px;
    margin: 0 0 15px 0;
}
.job-description-text p{
    margin: 0 0 10px 0;
}
.image_full_width{
    width: 100%;
}
.job-description-text h1.desc-heading{
    font-size: 25px;
    font-weight: 600;
    text-decoration: underline;
    text-transform: capitalize;
/*    font-family: 'Open Sans', sans-serif;*/
}
.job-description-text ul {
    list-style-position: inside;
}

.share-media{
    background-color: #f3f3f3;
    float: left;
    padding: 15px;
    border:1px solid #a4a4a4;
}
.share-media ul{
    margin: 0;
}
.share-media ul li{
    list-style: none;
    display: inline-block;
    margin: 0 5px;
}
.share-media ul li a {
    background-color: #fff;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 30px;
    height: 60px;
    line-height: 56px;
    text-align: center;
    vertical-align: middle;
    width: 60px;
}
.share-media ul li a.facebook {
    background-color: #3b5998;
}
.share-media ul li a.twitter {
    background-color: #33ccff;
}
.share-media ul li a.share {
    background-color: #f89a1e;
}
.share-media ul li a.mailicon {
    background-color: #a0a0a0;
}
.bottom-btn-row{
    float: left;
    width: 100%;
    text-align: center;
}
.bottom-btn-row ul{
    margin: 0;
}
.bottom-btn-row ul li{
    display: inline-block;
    margin:25px 5px 5px 5px;
    list-style: none;
    width: 100%;
}
.bottom-btn-row ul li .bg-color-v3{
    color: #fff;
}
.hr-text-editor{
    float: left;
    width: 100%;
}
.hr-text-editor p{
}
.comapny-video{
    float: left;
    width: 100%;
    position: relative;
}
.comapny-video:after {
    background-color: #000;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.4;
    position: absolute;
    top: 0;
    width: 100%;
}
.comapny-video iframe{
    border:none;
    width: 100%;
    float: left;
}
.comapny-video img{
    width: 100%;
}
/*.comapny-video:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
}*/
.border-bottom{
    border-bottom: 1px solid #c2c2c2;
}
.caption-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}
.page-title{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 76px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Conv_AllerDisplay';
    webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.address-area{
    float: left;
    width: 100%;
}
.address-area address{
}
.universal-form-style{
    float: left;
    width: 100%;
}
.universal-form-style ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.universal-form-style ul li{
    margin: 0 0 15px 0;
    position: relative;
    height: 85px;
    float: left;
    width: 100%;
}
.universal-form-style ul li.autoheight{
    height: auto;
}
.universal-form-style .hr-required{
    color: #ff0000;
}
.universal-form-style ul li .error_message{
    padding: 0;
    text-align: left;
}
.universal-form-style ul li label{
    float: left;
    width: 100%;
    height: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    text-transform: capitalize;
  
}
.universal-form-style ul li label.error{
    color: #ff0000;
    text-transform: none;
    font-weight: normal;
}
.contact-form .input-field {
    border: 1px solid #ccc;
}
textarea.input-field{
    height: 360px;
    padding: 10px;
}
.submit-btn {
    background-color: #b3c211;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    float: left;  
    font-weight: 600;
    margin: 0 10px 0 0;
    max-width: 210px;
    min-width: 100px;
    padding: 10px 30px;
    text-align: center;
    text-transform: capitalize;
}
.btn-cancel{
    background-color: #3a3a3a;
}
.page-not-found {
    padding: 130px 0;
}
.page-not-found .border-bottom{
    border-bottom: none;
    margin: 0;
    text-align: center;
}
.testimonials-detail{
    float: left;
    width: 100%;
    padding: 50px 0;
}
.testimonials-detail .heading-title{
    text-align: center;
}
.testimonials-wrp{
    max-width: 720px;
    margin: 0 auto;
}
.testimonial-title {
    float: left;
    text-align: center;
    width: 100%;
}
.wrp-inner{
    float: left;
    width: 100%;
    background-color: #f8f8f8;
    padding: 20px 2px;
    margin: 0 0 40px 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}
.wrp-inner figure{
    text-align: center;
}
.wrp-inner figure img {
    display: inline;
    float: none;
    max-width: 250px;
    width: 100%;
}
.testimonial-title h2{
    font-size: 25px;
    margin: 15px 0 35px 0;
}
.testimonials-des{
    float: left;
    width: 100%;
    padding: 25px 10px 0 10px;
    color: #5e5e5e;
}
.testimonials-des p{
    margin: 0 0 25px 0;
}
.testimonials-video{
    float: left;
    width: 100%;
}
.testimonials-video iframe{
    border:none;
}
.testimonials-share-on{
    float: left;
    width: 100%;
}
.testimonials-share-on ul{
    float: right;
    margin: 0;
}
.testimonials-share-on ul li{
    float: right;
    /*width: 40px;*/
    height: 40px;
    /*background-color: #000;*/
    list-style: none;
    margin: 0 0 0 10px;
    text-align: center;
    line-height: 38px;
}
.testimonials-share-on ul li a{
    display: block;
    color: #fff;
    font-size: 22px;
}
.testimonials-share-on ul li.fb{
    background-color: #4470cf;
}
.testimonials-share-on ul li.tw{
    background-color: #5daed5;
}
.testimonials-share-on ul li.gplus{
    background-color: #c53942;
}
.testimonials-share-on ul li.linkedin{
    background-color: #3393c1;
}
.advance-search .input-field {
    margin: 10px 0;
}
.advance-search .hr-select-dropdown:after{
    top:10px;
}
.advance-search .input-field.form-btn{
    text-align: center;
    line-height: 41px;
    color:#fff;
    background-color:#2c2c2c;
}
/*  Modal Start
==============================*/
.modal-heading{
    font-size: 20px;
    text-transform: capitalize;
    color: #000;
    font-weight: 700;
    text-align: center;
}
.modal-header.border-none{
    border: none;
}
.apply-job-from{
    float: left;
    width: 102%;
    margin-left: -2%;
}
.apply-job-from ul{
    float: left;
    width: 100%;
    margin: 0;
}
.apply-job-from ul li{
    float: left;
    width: 31.3333%;
    min-height: 66px;
    margin: 0 0 2% 2%;
    list-style: none;
    position: relative;
}
.apply-job-from ul p.error {
    float: left;
    padding: 0 30px;
    width: 100%;
    color: #cc0000;
}
.apply-job-from ul li 
.fields-wrapper {
    float: left;
    width: 100%;
}
.full-width{
    width: 98% !important;
}
.autoheight{
    height: auto !important;
}
.apply-job-from ul li .job_interest_text{
    padding: 6px;
    height: 200px;
    resize:none;
}
.apply-job-from ul li select{
    color: #000;
}
.apply-job-from ul li select option{
    padding: 4px 14px;
    -moz-appearance: none;
}
.apply-job-from ul li:last-child{
    width: 100%;
}
.apply-job-from ul li label{
    float: left;
    width: 100%;
    font-weight: 600;
    margin: 0 0 5px 0;
    text-transform: capitalize;
}

.apply-job-from ul li label.error {
    float: none !important;
    color: #CC0000 !important;
    position: absolute;
    bottom: -22px;
    left: 10px;
    font-weight: 400;
    margin: 0 !important;
}

.staric {
    color: #ea0000;
    font-size: 16px;
    font-weight: bold;
}
.form-fields.choose-file{
    position: relative;
}
.file-name {
    color: #a7a7a7;
    left: 8px;
    position: absolute;
    top: 6px;
}
.choose-file-filed{
    position: absolute;
    top: 0;
    right: 0;
}
.choose-file-filed{
    width: 132px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    display: block;
    font-weight: 600;
    text-align: center;
    border-radius: 20px;
    border: none;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    cursor: pointer !important;
    text-transform: capitalize;
    background-color: #b3c211;
}
.choose-btn{
    width: 132px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    display: block;
    font-weight: 600;
    text-align: center;
    border-radius: 20px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer !important;
    text-transform: capitalize;
    background-color: #b3c211;
}
.close.btn-close {
    background-color: #000;
    border-radius: 100%;
    color: #fff;
    font-size: 26px;
    height: 20px;
    opacity: 1;
    position: absolute;
    right: 15px;
    text-shadow: none;
    top: 21px;
    width: 20px;
}
.close.btn-close:hover{
    opacity: 1;
    color: #fff;
}
.close.btn-close span {
    float: left;
    height: 20px;
    line-height: 17px;
    width: 100%;
}
.navbar-toggle{
    color: #fff;
}
.popup-form{
    float: left;
    width: 100%;
}
.apply-job-from ul li.questionare-section{
    width: 100%;
}
.apply-job-from ul li.questionare-section label{
    font-weight: 400;
    margin: 0 0 20px 0;
}
.wrap-container{
    float: left;
    width: 98%;
    border-radius: 5px;
    padding: 10px;
    background-color: #f4f4f4;
}
.wrap-inner{
    float: left;
    width: 100%;
    /*height: 256px;*/
}
.wrap-inner p{
    float: left;
    width: 100%;
    margin: 0 0 25px 0;  
        position: relative;
}
.apply-job-from ul li.questionare-section .form-fields{
    width: 50.5%;
}
/* SLIDE Button */
.slide-btn {
    float: left;
    width: 94px;
    height: 37px;
    background: #333;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #c6c6c6;
    background-color: #fff;
}

.slide-btn:after {
    content: 'NO';
    color: #000;
    position: absolute;
    right: 10px;
    top: 9px;
    z-index: 0;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.slide-btn:before {
    content: 'YES';
    color: #00bf00;
    position: absolute;
    left: 10px;
    top: 9px;
    z-index: 0;
    font-weight: bold;
}

.slide-btn label {
    display: block;
    width: 50px !important;
    height: 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    top: 1px;
    left: 0px;
    z-index: 1;
    background-color: #81b431;
}
.slide-btn input[type="checkbox"] {
    height: 35px;
    margin: 0;
    opacity: 0;
    position: relative;
    width: 93px;
    z-index: 99999;
    cursor: pointer;
}
.slide-btn input[type=checkbox]:checked + label {
    left: 43px;
    width: 34px;
}
.radio-btn-wrap{
    float: left;
    position: relative;
}
/* CheckBoxes Style Start */
.checkbox-wrap{
    float: left;
    width: 100%;
}
.label-wrap{
    float: left;
    margin: 0 40px 0 0;
}
.squared {
    float: left;
    width: 20px;    
    margin: 0 10px 0 0;
    position: relative;
}
.squared label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border-radius: 4px;
    border: 2px solid #000;
    background-color: #f4f4f4;
}
.squared input[type=checkbox]{
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 9999;
    opacity: 0;
}
.squared label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 5px;
    left: 4px;
    border: 3px solid #000;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.squared input[type=checkbox]:checked + label:after {
    opacity: 1 !important;
}
.checkbox-wrap #squared{
    float: left;
    margin-top: 2px;
}
.checkbox-wrap{
    position: relative;
}
.join-from ul li label.label{
    width: auto;
    display: inline;
    padding-left: 30px;
    font-size: 12px;
}
.form-fields{
    float: left;
    width: 100%;
    height: 37px;
    font-weight: 600;
    color: #000;
    border: 1px solid #c6c6c6;
    border-radius: 20px;
    padding: 0 10px;
}
.opertinity-form-inner {
    float: left;
    width: 100%;
}
.apply-job-from ul li.employment-opertinity-form{
    width: 98%;
}
.questionnaire-form{
    float: left;
    width: 100%;
    margin: 25px 0;
}
.questionnaire-form ul{
    margin: 0;
    padding: 0;
    text-align: center;
    float: left;
    width: 100%;
}
.questionnaire-form ul li{
    display: inline-block;
    margin: 2px 0;
    min-height: 50px;
    width: 98% !important;
    float: none;
}
.questionnaire-form ul li label{
    float: left;
    font-weight: 600;
    text-transform: capitalize;
    width: 37%;
    margin: 7px 0 0 0;
    text-align: left;
}
.questionnaire-form ul li .form-fields{
    float: right;
    width: 63%;
}
.radio-btn{
    float: right;
    width: 63%;
}
.fancy-rabio-btn{
    float: left;
    margin: 0 10px;
}
.separator-border{
    float: left;
    width: 100%;
    height: 1px;
    margin: 20px 0;
    border-bottom: 1px dotted #ddd;
}
.question-block,
.question-block-inner{
    float: left;
    width: 100%;
    position: relative;
}
.question-block h2{
    font-size: 18px;
    margin: 0 0 15px 0;
    text-transform: uppercase;
    font-weight: 600;
/*    font-family: 'Open Sans', sans-serif;*/
}
.question-block-inner{
    padding: 0 20px;
}
.question-row{
    float: left;
    width: 100%;
    margin: 8px 0;
}
.accommodation-auestion{
    float: left;
    width: 100%;
    margin: 30px 0 0 0;
    position: relative;
}
.accommodation-auestion strong{
    float: left;
    width: 36%;
    /*padding: 0 10px;*/
    text-align: left;
    font-weight: 600;
}
.col-wrp{
    float: right;
    width: 64%;
    padding: 0 10px;
}
.col-wrp .fancy-radio-btn label{
    width: auto !important;
    padding: 0 10px;
}
.fancy-radio-btn{
    float: left;
    width: 100%;
}
.fancy-radio-btn label{
    float: left;
    padding: 5px 10px;
}

.radio-btn .fancy-radio-btn > label {
    float: left;
    width: auto;
}
.question-row .text{
    float: right;
    width: 97.6%;
    margin: 2px 0 0 0;
    font-weight: normal;
}
.disabilities-list{
    float: left;
    width: 100%;
    margin: 15px 0;
}
.disabilities-list ul{
    float: left;
    width: 25%;
    padding: 0 5px;
    margin: 0;
}
.disabilities-list ul li{
    float: left;
    width: 100% !important;
    margin: 2px 0;
    min-height: auto !important;
    list-style-type: circle !important;
    text-align: left;
}
.form-fields.no-border{
    border:none;
    line-height: 34px;
    text-align: left;
}
.radio-btn.full-width {
    float: left;
    width: 100%;
}
big.big-text {
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin: 0 5px 0 0;
}
.left-panel{
    float: left;
    position: relative;
}
.left-panel label{
    padding: 0 !important;
    margin: 0 !important;
}
.right-panel {
    margin: 0 0 0 23px;
}
.right-panel label{
    padding: 0 !important;
    margin: 0 !important;
}
.join-from ul li.popup-link a {
    text-decoration: underline;
    font-weight: 700;
    color: #000;
    margin: 0 10px 0 0;
}
.join-from ul li.checkbox-wrap label.error{
    left: 23px;
}
.term-condition-content{
    float: left;
    width: 100%;
    padding: 0 20px;
}
.red{
    color: red;
}
.siteBtn {
    background-color: #b3c211;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 16px;
  
    font-weight: 600;
    height: 41px;
    line-height: 41px;
    text-align: center;
    text-transform: capitalize;
    width: 130px;
}

.employee_teammember_login{
    float: right;
    text-align: right;
    color: #FFF;
}
.employee_teammember_login a{
    color: #FFF;
}
.site-btn.apply-now-large {
    background-color: #81b431;
    border: medium none;
    border-radius: 50px !important;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 28px;
    font-weight: 600;
    line-height: 50px;
    margin: 5px;
    text-align: center;
    text-transform: uppercase;
    min-width: 362px;
}

/*=================================
    Join Our Network
=================================*/
.join-our-network{
    float: left;
    width: 100%;
    background-color: #fff;
}
.text-column{
    float: left;
    width: 49%;
    text-align:justify;
    background-color: #FFF;
    padding: 20px
}
.form-column{
    float: right;
    width: 49%;
        background-color: #FFF;
        padding: 20px
}
.text-block{
    float: left;
    width: 100%;
}
.text-block p{
    line-height:25px;
    font-size:16px;
}
.text-block h2{
    float: left;
    width: 100%;
    color: #333;
    margin: 0 0 20px 0;
    font-size: 24px;
    font-weight: bold;
}
.page-logo{
    float: left;
    width: 100%;
    margin: 0 0 40px 0;
}
.text-block ul{
    float: left;
    width: 100%;
        margin:25px 0 0 0;
}
.text-block ul li{
    float: left;
    width: 100%;
    padding: 0 0 0 20px;
    list-style: none;
    position: relative;
    margin: 10px 0;
}
.text-block ul li:before{
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    color: #939393;
    width:8px;
    height:8px;
    background-color:#000;
    -webkit-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
}
.join-from{
    float: left;
    width: 100%;
}
.join-from ul{
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}
.join-from ul li{
    float: left;
    width: 100%;
    margin: 6px 0;
    height: 70px;
    list-style: none;
}
.join-from ul li.form-col-left{
    float: left;
    width: 49%;
}
.join-from ul li.form-col-right{
    float: right;
    width: 49%;
}
.join-from ul li.terms-conditions{
    position: relative;
    padding-left: 20px;
}
.join-from ul li.terms-conditions input[type="checkbox"]{
    position: absolute;
    left: 0;
}
.join-from ul li.terms-conditions a{
    color: #15c;
    text-decoration: underline;
}
.join-from-fields{
    float: left;
    width: 100%;
    height: 37px;
    border: 1px solid #c6c6c6;
    border-radius: 20px;
    padding: 0 10px;
}

.join-from ul li label{
    color: #000;
    float: left;
    font-weight: 700;
    margin: 0 0 5px;
    text-transform: capitalize;
    width: 100%;
}
.join-from ul li select{
    color: #000;
}
.join-from ul li select option{
    padding: 4px 10px;
}
.join-from ul li .join-btn{
    color: #fff;
    padding: 10px 50px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
    background-color: #b39ddb;
}
.staric {
    color: #ea0000;
    font-size: 20px;
    font-weight: bold;
    height: auto;
    line-height: 1;
    position: relative;
    top: 4px;
}
.optional-info{
    float: left;
    width: 100%;
    color: #453c5e;
    margin: 15px 0 0 0;
    font-size: 22px;
    font-weight: bold;
    text-transform: capitalize;
}
.join-from ul li .choose-file{
    position: relative;
    width: 100%;
    float: left;
}
.join-from ul li .choose-file-filed{
    position: absolute;
    top: 0;
    right: 0;
}
.join-from ul li .choose-file-filed{
    width: 132px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    display: block;
    font-weight: 600;
    text-align: center;
    border-radius: 20px;
    border: none;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    background-color: #b39ddb;
    text-transform: capitalize;
}
.join-from ul li.textarea{
   margin:20px 0 10px 0;
   height: auto;
}
.join-from ul li.textarea label{
    float: left;
    width: auto;
}
.join-from ul li.textarea textarea{
    resize:none;
    height:85px;
    padding:10px 20px;
    
}
.join-from ul li .choose-btn{
    width: 132px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    display: block;
    font-weight: 600;
    text-align: center;
    border-radius: 20px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #b39ddb;
    text-transform: capitalize;
}
.join-from-fields.choose-file {
  position: relative;
}
.join-from ul li .choose-file label.error{
    bottom:-40px;
    left:0;
}
.file-name {
    color: #000;
    left: 8px;
    position: absolute;
    top: 5px;
}
.join-from ul li label.error {
    float: none !important;
    color: #CC0000 !important;
    position: relative;
    left: 0;
    bottom:0;
    font-weight: 400;
    margin: 0 !important;
}
.upload-file{
    float: left;
    width: 100%;
}
.info{
    font-size: 12px;
    display: table;
    padding-top: 5px;
    padding-right: 10px;
    float: right;
    color: #333;
}
.join-our-telentnetwork .site-btn{
    float: right;
}
.join-our-telentnetwork .section-title{
    margin: 10px 0 0 0;
    padding: 0;
}
.join-from ul li.custom_video_source{
    margin: 10px 0 20px 0; 
    height: auto;
}
.join-from ul li label.text_transform_reset{
    text-transform: unset;
}
.join-from ul li label.video_source_margins{
    margin-left:10px !important; 
    margin-top:10px !important;
}
/*=================================
    Join Our Network - END
=================================*/
.social-media.job-detail {
    text-align: center;
}
.job-detail {
    float: left;
    width: 100%;
}
.social-media.job-detail ul {
    display: inline-block;
    float: none;
    margin: 0;
}
.social-media ul li {
    float: left;
    list-style: outside none none;
    margin: 2px;
}
/* .modal-fullscreen */

.modal-fullscreen {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal-dialog.custom-popup {
    background-color: #fff;
}
.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #000;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .5;
  filter: alpha(opacity=97);
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
  }
}
/* 5 -------- About Section Styles --------*/

.about-breifing .item {
    color: #ffffff;
    padding: 0px 15%;
}
.about-breifing .col-sm-6:first-child {
    background: #e6675a;
}
.about-breifing .col-sm-6:nth-child(2) {
    background: #e65d4e;
}
.about-breifing .col-sm-6:nth-child(3) {
    background: #e65243;
}
.about-breifing .col-sm-6:nth-child(4) {
    background: #b3c211;
}
.item-no .count {
    font-size: 6.25em;
    font-weight: 300;
    letter-spacing: -15px;
}
.about-breifing .item-icon {
    font-size: 2.5em;
    padding-top: 15px;
}
.about-breifing .count-number {
    font-size: 1.56em;
}
.about-breifing .about-item {
    font-size: .8125em;
    text-transform: capitalize;
}
.about-top {
    clear: both;
}
.know-about-us .description {
    font-size: .8125em;
}
.about-top .btn {
    border: 2px solid #b3c211;
}
.about-top .btn:hover {
    background: #b3c211;
    color: #ffffff;
}
.about-bottom .section-padding {
    display: inline-block;
}
.tab-image {
    margin-left: -15px;
}
.tab-image img{
    width: 100%;
}
.about-work .description {
    font-size: .8125em;
    padding-right: 15%;
    padding-bottom: 8px;
}
/* 8 ------- Sponsors Section Styles -------*/
.section-pattern {
    background-color: rgba(255, 255, 255, 0.7);
}
.sponsors .section-title {
    font-size: 40px;
    font-weight: 700;
}
.sponsors .section-title span{
    margin: 0 5px 0 0;
}
.sponsors .section-details {
    float: left;
    width: 100%;
    margin: 15px 0;
    padding-top: 0;
}
.sponsors-logo img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.logo-link {
    display: block; 
}
.sponsors-logo a:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.flex-center {
    border: 1px solid #838383;
    color: white;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    overflow: auto;
    padding: 20px;
}
.main-navigation .navbar-brand img{
    width: 80px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.bg-change .navbar-brand img{
    width: 42px;
    /*height: 33px;*/
}
/* 10 ------- Testimonial Section Styles --------*/

.testimonial {
    background: url(../images/3.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    padding: 50px 0 80px 0;
    margin: 0;
}
.testimonial .section-title{
    font-size: 40px;
    font-weight: 700;
    color: #b3c211;
    margin: 0;
}
.testimonial .slide-description{
    color: #fff;
}
.pattern-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}
.testimonial .section-padding {
    padding: 110px 0px 185px 0px;
}
.testimonial-slider .carousel-indicators {
    bottom: -65px;
}
.testimonial-slider .carousel-indicators li {
    border: 2px solid #ffffff;
    height: 15px;
    width: 15px;
}
.testimonial-slider .carousel-indicators li.active {
    height: 16px;
    width: 16px;
}
.testimonial-slider .item{
    float: left;
    width: 100%;
}
.testimonial-slider .item figure{
    float: left;
    width: 130px;
    height: 130px;
    border:2px solid #b3c211;
}
.testimonial-slider .item figure img{
    width: 100%;
    height: 126px;
}
.testimonial .section-details{
    width: 100%;
}
.testimonial-slider .client-quote {
    margin: 0 0 0 170px;
}
.client-quote p{
    color: #fff;
    font-weight: 600;
}
.client-quote h2{
    font-weight: 600;
}
.readmore-link{
    font-weight: 600;
    color: #b3c211;
    font-style: italic;
}
.pagination {
    margin: 0px;
    padding: 68px 0px 65px 0px;
}
.pagination li {
    display: inline-block;
    font-size: .6875em;
}
.pagination>li>a,
.pagination>li>span {
    border-color: #a7a7a8;
    border-radius: 0px !important;
    color: #a7a7a8;
    margin: 0px 6px;
    padding: 7px 11px;
}
.pagination>li>a:hover {
    background: #ffffff;
    border-color: #a7a7a8;
}
.pagination>li.active a,
.pagination>li.active a:hover {
    background: #ffffff;
    border-color: #b3c211;
    color: #b3c211;
}
/* 16 ------- Footer Section Styles ---------*/

footer {
    clear: both;
}
/* 16.1 ------ Footer Top -------*/

.footer-top {
    background-color: #1b1b1b;
    clear: both;
    color: #ffffff;
    float: left;
    padding: 40px 0;
    width: 100%;
}
footer .widget-title {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-bottom: 8px;
}
.footer-top a {
    color: #98a0a8;
    font-size: 16px;
    font-weight: 400;
}
.footer-top a:hover {
    color: #b3c211;
}
.widget-details nav li{
    display: block;
    padding-bottom: 7px;
    margin: 0 0 7px 0;
    border-bottom: 1px dashed #363636;
}
.widget-details span {
    background-color: #c0c0c0;
    border-radius: 50px;
    display: inline-block;
    font-size: 12px;
    height: 22px;
    color:#000;
    line-height: 22px;
    margin: 0 10px 0 0;
    text-align: center;
    vertical-align: top;
    width: 22px;
     -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.widget-details img {
    margin: 0 4px 0 0;
    display: block;
    max-width: 100%;
    height: auto !important;
}
.widget-details ul li a:hover img{
    opacity: 0.8;
}
.widget-details nav li a:hover span{
    background-color: #b3c211;
    color: #fff;
}
.widget-details p{
    color: #98a0a8;
    padding: 0 30px 0 0;
}
.widget-details nav li:last-child a,
.title-list li:last-child a {
    border-bottom: none;
}
.widget .subscribe-hide {
    padding-top: 0px;
    position: relative;
}
.widget .subscribe input {
    border: 2px solid #404449;
    background: transparent;
    border-radius: 0px;
    color: #ffffff;
    display: inline-block;
    height: 48px;
    max-width: 450px;
    padding: 15px 55px 15px 15px;
}
.widget .subscribe input:focus {
    border: 2px solid #404449;
    outline: 0;
}
.widget .subscribe button:focus {
    border: none;
    outline: 0;
}
.widget #subscribe-submit {
    border: none;
    color: #b3c211;
    display: inline-block;
    padding: 13px 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.widget #subscribe-loading {
    display: none;
    line-height: 45px;
    cursor: inherit;
}
.widget #subscribe-loading:hover {
    color: inherit;
}
.widget .subscribe-message {
    text-align: center;
    font-size: 1.125em;
}
.widget .subscribe-error {
    color: #ffffff;
    position: absolute;
    background: rgba(52, 152, 219, 1);
    display: none;
    left: 25px;
    bottom: 60px;
    padding: 5px 10px;
    border-radius: 3px;
}
.widget .subscribe-error:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px;
    border-color: rgba(52, 152, 219, 1) transparent transparent transparent;
    left: 25px;
    bottom: -24px;
}
/* 16.2 ----- Footer Bottom ------*/
.footer-bottom {
    background: #101010;
    color: #686c77;
    float: left;
    width: 100%;
    font-size: .8125em;
    padding: 10px 0px;
}
.footer-bottom a {
    color: #b3c211;
}
.footer-bottom a:hover {
    color: #686c77;
}
.footer-menu a {
    padding-left: 13px;
}
.copy-right p {
    margin: 14px 0 0 0;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}
.scrollToTop {
    background-color: #b3c211;
    border-radius: 50%;
    bottom: 0;  
    color: #000;
    font-size: 11px;
    height: 40px;
    line-height: 14px;
    position: fixed;
    right: 20px;
    text-align: center;
    text-decoration: none;
    width: 40px;
    padding: 3px 0 0 0;
    font-weight: 700;
    cursor: pointer;
    display: none;
    text-transform: uppercase;
    -webkit-transition: all 0.45s ease-in-out 0s;
    -o-transition: all 0.45s ease-in-out 0s;
    -moz-transition: all 0.45s ease-in-out 0s; 
    -ms-transition: all 0.45s ease-in-out 0s; 
    transition: all 0.45s ease-in-out 0s; 
    z-index: 999;
}
.scrollToTop i{
    font-size: 16px;
}
.scrollToTop span{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.scrollToTop:hover,
.scrollToTop:focus{  
  text-decoration: none;
  outline: none;
}
.read-more{
    color: #b3c211;
}
.main{
    float: left;
    width: 100%;
    padding: 0 0 40px 0;
}
.about-section{
    float: left;
    width: 100%;
    margin: 40px 0;
}
.poweredby {
    float: right;
    margin-right: 10px
}
.default_logo_image {
    width: 35%
}
.poweredby span {
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin: 15px 10px 0 0;
}
.video-section{
    float: left;
    width: 100%;
    margin: 0 0 35px 0;
}
.video-section iframe{
    width: 100%;
    float: left;
    height: 400px;
    border:none;
}
/* Slider IMAGE CAPTIONS */
.main-slider{
    position: relative;
}
.main-slider:after{
    content: '';
    background-color: rgba(0, 0, 0, 0.55);
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slider-text {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    z-index: 9;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.slider-title {
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
}
.slider-title span {
  color: #b3c211;
}
.slide-description {
  color: #b3c211;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
}
.slider-text .btn {
  border: 2px solid #ffffff;
  color: #ffffff;
}
.slider-text .btn:hover {
  background: #e74c3c;
  border-color: #e74c3c;
  color: #ffffff;
}

.header-testimonial {
    background-color: #1b1b1b;
}

body .main-testimonial{
    padding: 100px 0 0;
    margin-bottom: 30px;
}

.btn-mute-unmute {
    bottom: 20px;
    display: block;
    float: left;
    left: 20px;
    opacity: 0.7;
    position: absolute;
    z-index: 2;
    width: 30px;
    color: #b3c211;
}
.btn-mute-unmute:hover{
    opacity: 1;
}
.tellafrien-popup {
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    height: 41px;
    line-height: 41px;
    width: 120px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#606c88+0,3f4c6b+100;Grey+3D+%232 */
    background: #606c88; /* Old browsers */
    background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #606c88 0%,#3f4c6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
}
.tellafrien-popup:hover,
.tellafrien-popup:focus{
    color: #fff;
    text-decoration: none;
}
.tellafrien-popup span{
    float: left;
    width: 34px;
    height: 41px;
    border-right: 1px solid #7c88a4;
}
.tellafrien-popup span i{
    font-size: 15px;
}
.tellafriend-job-title{
    margin: 0 0 30px 0;
    font-weight: 600;
}
.goog-te-menu-frame.skiptranslate {
    top: 48px !important;
}

.hr-lanugages{
    float: left;
    margin: 9px 10px 0 0;
    position: relative;
    z-index: 99;
}
.navbar-brand{
    padding: 9px 15px !important;
}
.hr-lanugages .goog-te-gadget-simple {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    float: left;
    height: 38px;
    line-height: 33px;
    padding: 0 2px 0 5px;
}
.hr-lanugages .goog-te-gadget-simple img{
    display: none;
}
.hr-lanugages .goog-te-gadget-simple .goog-te-menu-value span{
    margin: 0 3px 0 0;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
}


.modal-backdrop {
    z-index: 790 !important;
}

.modal {
    z-index: 800 !important;
}

.spinner {
    float: left;
    margin: 9px;
    position: relative;
    color: #00a700;
}
.spinner i{
    font-size: 25px;
}
.apply-job-from ul li .resume-attachment label{
    width: auto;
}
.google-btn {
    margin-top: 0;
    padding: 7px;
    width: 100%;
    margin-bottom: 0;
    margin: 0;
}

.google-btn:hover {
    color: #ffffff;
}


.resume-label-withradio{
    display: inline-block;
    margin-left: 15px !important;
    width: auto !important;
    float: right !important;
}

.resume-label-withradio span {
    font-size: 14px;
    padding: 2px;
}

.resume-label {
    display: inline-block;
    width: auto !important;
}


/*.down_btn {*/
    /*border: thin solid gray;*/
    /*border-radius: 50%;*/
    /*height: 40px;*/
    /*/!*margin: -70px auto auto;*!/*/
    /*position: relative;*/
    /*width: 40px;*/
    /*z-index: 9;*/
/*}*/

.down_btn:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.down_btn::before {
    color: #b3c211;
    content: "\f103";
    font-family: "FontAwesome";
    font-size: 22px;
    left: 34%;
    position: relative;
    text-align: center;
    top: 16%;
    cursor: pointer;
}

.down_btn {
    border: 1px solid #b3c211 ;
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    left: 48%;
    margin: 0 auto !important;
    position: relative;
    top: -50px;
    width: 40px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.theme4_custom_banner_arrow{
    top: -90px;
}

.cart-btns {
    display: inline-block;
    position: relative;
    vertical-align: top;
}
.comapny-video .embed-responsive {
    position: relative;
    z-index: 2;
}
.default-banner{
    padding:35px 20px;
}
.top-aplly-btn .site-btn {
    font-size: 28px;
    padding: 10px 30px;
}
.talent-network-image,
.talent-network-video{
    float: left;
    width: 100%;
}
.talent-network-video{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    height: auto;
    line-height: 1.42857;
    max-width: 100%;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
}
.apply-job-from .file-name .red {
    font-size: 11px;
    font-weight: 600;
    margin: 30px 0 0 0;
}
.navbar-collapse.collapse.navigation {
    width: 92%;
    margin: 12px 0 0 0;
}
.logo-aspect-square .navbar-brand {
    height: 65px;
    width: 80px;
}
.logo-aspect-horizontal .navbar-brand{
    width: 125px;
    height: 60px;
}
.logo-aspect-vertical .navbar-brand{
    width: 85px;
    height: 90px;
    margin: 0 !important;
}
.logo-aspect-square .navbar-brand img{
    width: 100%;
    height: 100%;
}
.logo-aspect-horizontal .navbar-brand img{
    width: 100%;
    height: 100%;
}
.logo-aspect-vertical .navbar-brand img{
    width: 100%;
    height: 100%;
}
.logo-location-right .navbar-header{
    float: right;
    margin: 0;
}
.logo-location-right .navbar-collapse.collapse.navigation{
    float: left !important;
}
/*.logo-location-right .navbar-collapse.collapse.navigation,
.logo-location-left .navbar-collapse.collapse.navigation{
    margin: 5px 0 0 0;
    width: 84%;
}*/
.logo-aspect-horizontal.logo-location-right .navbar-collapse.collapse.navigation,
.logo-aspect-horizontal.logo-location-left .navbar-collapse.collapse.navigation{
    width: 91%;
}
.logo-aspect-vertical.logo-location-right .navbar-collapse.collapse.navigation, 
.logo-aspect-vertical.logo-location-left .navbar-collapse.collapse.navigation{
    width: 82%;
}
.logo-aspect-vertical.logo-location-right .navbar-header, 
.logo-aspect-vertical.logo-location-left .navbar-header{
    width: 80px;
}
.logo-location-left .navbar-header{
    float: left;
    margin: 0;
}
.logo-location-left .hr-lanugages{
    float: right;
    margin-right: 0;
    width: 135px;
}
.logo-location-center .navbar-header{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
}
.main-navigation{
    margin-bottom: 15px;
}
.logo-location-center .main-menu{
    float: right;
    margin: 8px 0 0 0;
}
.logo-location-center .main-menu button.btn{
    padding: 7px 15px;
    font-size: 16px;
    color: #fff;
    border:1px solid #fff;
    border-radius: 5px;
}
.logo-location-center .dropdown-menu{
    padding: 0;
    left: auto;
    right: 0;
    background-color: #444;
}
.logo-location-center .dropdown-menu > li > a{
    color: #fff;
    padding: 10px;
}
.logo-location-center .dropdown-menu > li > a:hover, 
.logo-location-center .dropdown-menu > li > a:focus{
    background-color: #337ab7;
}
.logo-location-center.navbar-default .navbar-nav > .open > a, 
.logo-location-center.navbar-default .navbar-nav > .open > a:hover, 
.logo-location-center.navbar-default .navbar-nav > .open > a:focus{
    background-color: transparent !important;
}
.navbar-default .navbar-brand {
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.logo-aspect-square.bg-change .navbar-brand {
    height: 65px;
    width: 80px;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.logo-aspect-vertical.bg-change .navbar-brand {
    height: 65px;
    width: 65px;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.translated-ltr body{
    top: 0 !important;
}
.skiptranslate{
    top: auto !important;
    bottom: 0 !important;
}

/*=========== From Style Start ===========*/
.form-wrp .form-group {
    float: left;
    width: 100%;
    height: 68px;
}
.form-wrp .form-control {
    float: left;
    width: 100%;
    height: 37px;
    font-weight: 600;
    color: #000;
    border: 1px solid #c6c6c6;
    border-radius: 20px;
    padding: 0 10px;
}
.form-wrp .form-control:focus{
    border-color: #c6c6c6;
    box-shadow: none;
}

.form-wrp .form-control.datepicker {
    padding: 6px 12px;
}

.form-control.error {
    color: #CC0000;
    border-color: #CC0000;
}
.form-wrp .form-group label {
    float: left;
    width: 100%;
    font-weight: 600;
    margin: 0 0 5px 0;
    text-transform: capitalize;
}
.form-wrp .form-group label.error {
    color: #CC0000;
    font-weight: normal;
    font-size: 14px;
    line-height: 12px;
    margin: 4px 0 0 0;
    float: left;
    width: 100%;
}

.select {
    position: relative;
    float: left;
    width: 100%;
}

.select:after {
    content: "";
    position: absolute;
    top: 3px;
    right: 5px;
    width: 25px;
    height: 45px;
    pointer-events: none;
    background: url(../images/select-arrow.png) #f7f7f7 no-repeat center;
}

.select select.form-control {
    padding-right: 29px;
}

.form-wrp select.form-control {
    background-color: #f7f7f7 !important;
    outline: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-wrp select.form-control:focus {
    outline: none !important;
}

.form-wrp select.form-control option {
    padding: 5px 12px;
}

span.required {
    color: #db0000;
}

.form-wrp .form-group.autoheight {
    height: auto;
}

.form-wrp .btn {
    font-size: 16px;
}

.form-control.textarea {
    height: 150px;
    padding: 10px;
}

.form-control.autoheight {
    height: auto;
}

/*========Custom Checkbox and radio buttom style=================*/

.control {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 14px;
  width: auto !important;
  font-weight: normal !important;
  margin: 0 10px 10px 0 !important;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #81b431;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #81b431;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}

/*========Custom Checkbox and radio buttom style End=================*/
.banner-wrp{
    float: left;
    width: 100%;
    position: relative;
}
.banner-btn-apply {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 22;
}
.mt-3{
    margin-top: 30px !important;
}
.mb-3{
    margin-bottom: 30px !important;
}

.terms-conditions {
	position: relative;
	padding-left: 20px;
	padding-bottom: 8px;
	min-height: initial !important;
}
.terms-conditions input[type="checkbox"] {
	position: absolute;
	left: 0;
	top : 2px;
}
.terms-conditions label {
	color: #000;
	float: left;
	font-weight: 700;
	margin: 0 0 5px;
	text-transform: capitalize;
	width: 100%;
}
.terms-conditions label.error{
	bottom:-10px !important;
}
.upload_logo_image{
    width: 60px !important;
    margin-right: 60px;
}
.no_overlay:after{
    display: none !important;
}