/* -----------------------[Time off style]---------------------- */

body {
    background-color: #f2f2f2;
}


/*Settings CSS Start*/

.btn-filter-reset {
    float: right;
    margin-top: 10px;
    margin-bottom: 15px;
}

.pto-pagination {
    /* display: none; */
}

.pto-pagination.current {
    display: block;
}

.right-content {
    margin-bottom: 0px !important;
    border: 1px solid #d4d4d4;
    background-color: #ffffff !important;
}

.right-content-2 {
    /*height: 500px;  */
    border: 1px solid #d4d4d4;
    overflow: hidden;
    margin-bottom: 50px;
    background-color: #ffffff !important;
}

.csHeader {
    padding-top: 0 !important;
    padding-bottom: 10px !important;
}

.pto-top-heading-left {
    padding: 0 !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.pto-top-heading-left p {
    margin-bottom: 0px;
}

.pto-top-heading-right {
    padding: 0 !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #3554dc;
}

.pto-top-heading-right-add-plan {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #3554dc;
}

.pto-top-heading-right span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #3554dc;
}

.pto-tabs .nav-tabs>li.active>a {
    background-color: #f5f7ff !important;
}

.pto-tabs .nav-tabs>li>a {
    border-radius: 0px !important;
}

.pto-tabs .nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #f5f7ff;
    /*border: 3px solid #ddd;*/
    border-bottom-color: #f5f7ff;
}

.border-bottom {
    padding: 5px 0 10px 0 !important;
    border-bottom: 1px solid #d4d4d4;
    overflow: hidden;
}

.border-bottom-thin {
    border-bottom: 1px solid #d4d4d4;
    overflow: hidden;
}

.pto-tabs {
    background-color: #f5f7ff;
}

.btn-apply-filter {
    float: right;
    background-color: #81b431;
    color: #fff;
    margin-right: 15px;
    margin-top: 5px;
}

.btn-apply-filter:hover {
    background-color: #5e8b18;
    color: #fff;
}

.filter-content {
    display: none;
    padding: 15px;
}

.filter-content.show-filter {
    display: block;
}

.pto-pagination .pagination-left-content {
    padding-top: 28px;
}

.multi-select-custom .chosen-container-multi .chosen-choices {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0 6px;
    width: 100%;
    border: 1px solid #d2d2d2;
    background-color: #fff;
    cursor: text;
    border-radius: 5px;
    height: auto !important;
}

.multi-select-custom .chosen-container-multi .chosen-choices li.search-choice {
    background-color: #81b431;
    border-color: #81b431;
    color: #ffffff;
    background-size: 100% 0;
}

.multi-select-custom .chosen-container-multi .chosen-choices a.search-choice-close {
    color: #ffffff;
}

.btn-filter-reset .btn-apply {
    float: right;
    background-color: #81b431;
    color: #fff;
}

.btn-filter-reset .btn-reset {
    float: right;
    background-color: #bababa;
    color: #fff;
    margin-left: 10px;
}

.btn-filter-reset #btn_back {
    margin-top: 7px;
}

.btn-filter-reset .btn-reset i {
    color: #fff;
    font-size: 17px;
}

.filter-fields {
    padding: 0 10px;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #d2d2d2;
    border-radius: 0;
    font-size: 14px;
    height: 40px;
    border-radius: 6px;
}

.pto-plan-date {
    position: relative;
    float: left;
    width: 100%;
}

.pto-plan-date:after {
    content: "\f073";
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 40px;
    color: #9d9d9d;
    font-size: 14px;
    cursor: pointer;
    font-family: 'FontAwesome';
    text-align: center;
    line-height: 40px;
    pointer-events: none;
}

select#template {
    background: transparent;
}

.invoice-fields {
    background-color: transparent;
}

.nav-tabs>li.active>a:focus {
    cursor: default;
    background-color: #fff;
    /* border: 3px solid #ddd; */
    border-bottom-color: #f5f7ff;
    font-size: 18px;
}

.pto-tabs .nav-tabs>li.active>a {
    color: #81b431 !important;
    background-color: #ffffff !important;
}

.pto-tabs .nav-tabs>li>a {
    border-radius: 0px !important;
    font-size: 16px;
    color: #000;
    font-weight: 500;
}

.btn:hover,
.btn:focus,
.btn.focus {
    color: #fff;
    text-decoration: none;
}

.img-circle {
    max-width: 100%;
    height: auto;
    display: block;
}

.employee-info figure {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.employee-info figure img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.employee-info .text {
    margin: 0 0 0 60px;
}

.employee-info .text h4 {
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}

.employee-info .text p {
    color: #818181;
    font-weight: normal;
    font-size: 14px;
    margin: 0;
}

.table.table-bordered {
    background: #fff;
}

.heading-grey tr th {
    color: #b0b0b0;
}

.text p {
    margin-top: 16px;
    color: #818181;
}

.text.active-status p {
    color: #629f03;
}

.text.in-active-status p {
    color: #de8585;
}

.action-employee {
    margin-top: 16px;
}

.action-employee a {
    color: #818181;
    margin-right: 20px;
}

.action-employee .custom-tooltip+.tooltip>.tooltip-inner {
    background: #fff;
    border: 1px solid #999999;
    color: #818181;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 15px 10px 15px;
}

.action-employee .custom-tooltip+.tooltip>.tooltip-arrow {
    position: relative;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    top: 53px;
}

.action-employee .custom-tooltip+.tooltip>.tooltip-arrow:before {
    position: absolute;
    content: '';
    z-index: 10;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid white;
    left: -9px;
    top: -10px;
}

.people-out-of-office-info a {
    color: #818181;
    margin-right: 20px;
}

.people-out-of-office-info .custom-tooltip+.tooltip>.tooltip-inner {
    background: #fff;
    border: 1px solid #999999;
    color: #818181;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 10px 10px 10px;
}

.people-out-of-office-info .custom-tooltip+.tooltip>.tooltip-arrow {
    position: relative;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    top: 55px;
}

.people-out-of-office-info .custom-tooltip+.tooltip>.tooltip-arrow:before {
    position: absolute;
    content: '';
    z-index: 10;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid white;
    left: -9px;
    top: -10px;
}

.info-styling-custom a {
    color: #818181;
    margin-right: 20px;
}

.info-styling-custom .custom-tooltip+.tooltip>.tooltip-inner {
    background: #fff;
    border: 1px solid #999999;
    color: #818181;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 10px 10px 10px;
}

.info-styling-custom .custom-tooltip+.tooltip>.tooltip-arrow {
    position: relative;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    top: 55px;
}

.info-styling-custom .custom-tooltip+.tooltip>.tooltip-arrow:before {
    position: absolute;
    content: '';
    z-index: 10;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid white;
    left: -9px;
    top: -10px;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    color: #fff;
    background-color: #81b431;
    border-color: #81b431;
}

.pagination>li>a.page-link.next-link {
    color: #81b431 !important;
}

.pagination>li>a.page-link.next-link:hover,
.pagination>li>a.page-link.next-link:focus {
    color: #fff !important;
    background-color: #81b431 !important;
}

.pagination>li>a.page-link.previous-link {
    color: #c5c5c5 !important;
}

.pagination>li>a.page-link.previous-link:hover,
.pagination>li>a.page-link.previous-link:focus {
    color: #fff !important;
    background-color: #81b431 !important;
}

.pagination>li>a.page-link.page-link-new {
    color: #000 !important;
}

.pagination>li>a.page-link.page-link-new:hover,
.pagination>li>a.page-link.page-link-new:focus {
    color: #fff !important;
    background-color: #81b431 !important;
}

.table.table-bordered.pto-plan-table {
    margin-bottom: 0px !important;
}

.pto-add-plan-content {
    /*height: 500px;  */
    border: 1px solid #d4d4d4;
}

.checkbox-styling .checkbox-sizing {
    width: 18px;
    height: 18px;
    margin-top: 10px;
}

.checkbox-styling span {
    padding-top: 5px;
}

.checkbox-styling-settings label {
    display: block;
    float: left;
    font-size: 15px;
    margin-top: 0px !important;
    font-weight: initial;
}

.checkbox-styling-settings label span {
    font-weight: normal;
}

.invoice-fields h4 span {
    font-weight: 900;
}

.margin-custom {
    margin: 10px;
}

.form-group.select-style {
    margin: 0;
    padding: 0 6px;
    width: 100%;
    border: 1px solid #d2d2d2;
    background-color: #fff;
    cursor: text;
    border-radius: 5px;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #eeeeee;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 4px;
    height: 100%;
    z-index: 400;
}

ul.timeline>li {
    margin: 20px 0;
    padding-left: 55px;
}

ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 5px;
    border: 3px solid #81b431;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.allowed-time-off-title-custom {
    font-weight: 700;
}

.timeline-field-title {
    font-weight: 600;
}

.bottom-section-pto {
    padding: 20px 0;
    background-color: #fff;
}

.btn-button-section {
    width: 100%;
    border-top: 1px solid #d2d2d2;
}

.btn-button-section .btn-save {
    float: left;
    background-color: #81b431;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.btn-button-section .btn-cancel {
    float: left;
    background-color: #bababa;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.right-content-2 {
    display: none;
}

.margin-bottom {
    margin-bottom: 30px;
}

.people-out-of-office {
    background-color: #f3f3f3;
    border: 1px solid #ababab;
    border-radius: 5px;
    margin-bottom: 30px;
}

.people-out-of-office p.heading-style-custom {
    font-weight: 700;
    font-size: 16px;
    padding: 10px 0 10px 20px;
    border-bottom: 1px solid #dedede;
}

.padding-custom {
    padding: 20px;
}

.margin-top {
    margin-top: 20px;
}

.margin-top-fields {
    margin-top: 10px;
}

.margin-top-settings {
    margin-top: 10px;
}

.checkbox-styling-setting .info-custom i {
    padding-left: 4px;
    padding-top: 12px;
    font-size: 20px;
}

.info-styling-custom .info-custom {
    display: inline-block;
}

.font-wieght-light {
    font-weight: 500;
}

.font-wieght-bold {
    font-weight: 800;
}


/*.border-radious-custom{
    border-radius: 6px;
}
*/

.form-control.form-control-custom {
    width: 100px;
    display: inline-block;
}

.form-group-custom {
    display: inline-block;
}

.form-group-custom-settings {
    margin-bottom: 0px !important;
}

.radio-custom label {
    display: block;
}

.select2-container--default .select2-selection--single {
    height: auto;
    background-color: transparent !important;
    border: 1px solid #d2d2d2 !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 8px !important;
    padding-right: 20px !important;
}

.hide-for-desktop {
    display: none;
}

@media screen and (max-width: 767px) {
    .hide-for-desktop {
        display: block;
    }
    .people-out-of-office {
        display: block;
    }
    .people-out-of-office figure {
        text-align: center;
    }
    .people-out-of-office figure .emp-image {
        display: inline-block;
    }
    .btn-apply-filter {
        margin-right: 10px;
        margin-top: 7px;
    }
    .pto-tabs .nav-tabs .btn {
        padding: 6px 6px;
        font-size: 12px;
    }
    .pto-pagination .pagination-left-content p {
        font-size: 13px;
    }
    .allowed-time-off-title-custom .pto-allowed-years .timeline-content .margin-custom {
        margin: 10px 0px;
    }
    .margin-bottom-custom {
        margin-bottom: 60px;
    }
    .btn-filter-reset {
        margin-top: 0px !important;
    }
    .pto-time-off-margin-custom {
        margin-bottom: 10px;
    }
    .people-out-of-office-info .text-center h4 {
        font-size: 14px;
    }
    .checkbox-styling {
        margin-top: 0px !important;
    }
    .checbox-styling {
        width: 20px;
        height: 20px;
    }
}


/*Settings CSS End*/


/*PTO Policies CSS Starts Here*/

.col-lg-12.checkbox-styling.margin-top {
    margin: 40px 0px 10px 15px;
}

.demo-page-list.pto-allowed-years ul>li:before {
    border-radius: 5px;
    left: 20px;
    z-index: 2;
    top: 23px;
    background-color: #fff;
    border: 3px solid #81b431;
    color: #81b431;
    height: 32px;
    line-height: 24px;
    font-weight: 700;
}

.demo-page-list.pto-allowed-years ul>li {
    padding: 0 0 0 70px;
}

.demo-page-list.pto-allowed-years ul {
    position: relative;
}

.demo-page-list.pto-allowed-years ul:after {
    content: "";
    position: absolute;
    top: 0;
    width: 4px;
    height: 100%;
    left: 34px;
    background-color: #eee;
}

.timeline-content {
    padding: 15px;
    background-color: #f4f4f4;
    position: relative;
    border-radius: 5px;
}

.timeline-content:before {
    content: "";
    position: absolute;
    top: 15px;
    width: 4px;
    left: -8px;
    width: 15px;
    height: 15px;
    background-color: #f4f4f4;
    transform: rotate(45deg);
}

.pto-top-heading-left {
    padding: 20px 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.pto-top-heading-left p {
    margin-bottom: 0px;
}

.pto-top-heading-right {
    padding: 20px 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #3554dc;
}

.pto-top-heading-right-add-plan {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #3554dc;
}

.pto-top-heading-right span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #3554dc;
}

.pto-tabs .nav-tabs>li.active>a {
    background-color: #f5f7ff !important;
}

.pto-tabs .nav-tabs>li>a {
    border-radius: 0px !important;
}

.pto-tabs .nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #f5f7ff;
    /*border: 3px solid #ddd;*/
    border-bottom-color: #f5f7ff;
}

.pto-tabs {
    background-color: #f5f7ff;
}

.filter-content {
    display: none;
    padding: 15px;
}

.filter-content.show-filter {
    display: block;
}

.form-group .form-control.form-control-custom-height {
    height: 40px;
}

.multi-select-custom .chosen-container-multi .chosen-choices {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0 6px;
    width: 100%;
    border: 1px solid #d2d2d2;
    background-color: #fff;
    cursor: text;
    border-radius: 5px;
    height: auto !important;
}

.multi-select-custom .chosen-container-multi .chosen-choices li.search-choice {
    background-color: #81b431;
    border-color: #81b431;
    color: #ffffff;
    background-size: 100% 0;
}

.multi-select-custom .chosen-container-multi .chosen-choices a.search-choice-close {
    color: #ffffff;
}

.filter-fields {
    padding: 0 10px;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #d2d2d2;
    border-radius: 0;
    font-size: 14px;
    height: 40px;
    border-radius: 6px;
}

.pto-plan-date {
    position: relative;
    float: left;
    width: 100%;
}

.pto-plan-date:after {
    content: "\f073";
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 40px;
    color: #9d9d9d;
    font-size: 14px;
    cursor: pointer;
    font-family: 'FontAwesome';
    text-align: center;
    line-height: 40px;
    pointer-events: none;
}

select#template {
    background: transparent;
}

.nav-tabs>li.active>a:focus {
    cursor: default;
    background-color: #fff;
    /* border: 3px solid #ddd; */
    border-bottom-color: #f5f7ff;
    font-size: 18px;
}

.btn:hover,
.btn:focus,
.btn.focus {
    color: #fff;
    text-decoration: none;
}

.table.table-bordered {
    background: #fff;
}

.text p {
    margin-top: 16px;
    color: #818181;
}

.text.active-status p {
    color: #629f03;
}

.text.in-active-status p {
    color: #de8585;
}

.people-out-of-office {
    background-color: #f3f3f3;
    border: 1px solid #ababab;
    border-radius: 5px;
    margin-bottom: 30px;
}

.people-out-of-office p.heading-style-custom {
    font-weight: 700;
    font-size: 16px;
    padding: 10px 0 10px 20px;
    border-bottom: 1px solid #dedede;
}

.padding-custom {
    padding: 20px;
}

.checkbox-styling label {
    display: block;
    float: left;
    font-weight: 500;
    font-size: 16px;
}

.margin-top {
    margin-bottom: 20px;
}

.timeline-title {
    font-weight: 700;
}

.margin-bottom {
    margin-bottom: 30px;
}

.people-out-of-office {
    background-color: #f3f3f3;
    border: 1px solid #ababab;
    border-radius: 5px;
    margin-bottom: 30px;
}

.people-out-of-office p.heading-style-custom {
    font-weight: 700;
    font-size: 16px;
    padding: 10px 0 10px 20px;
    border-bottom: 1px solid #dedede;
}

.padding-custom {
    padding: 20px;
}

.select2-container--default .select2-selection--single {
    background-color: transparent !important;
    border: 1px solid #d2d2d2 !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 8px !important;
    padding-right: 20px !important;
}

.hide-for-desktop {
    display: none;
}

@media screen and (max-width: 767px) {
    .hide-for-desktop {
        display: block;
    }
    .people-out-of-office {
        display: block;
    }
    .people-out-of-office figure {
        text-align: center;
    }
    .allowed-time-off-title-custom .pto-allowed-years .timeline-content .margin-custom {
        margin: 10px 0px;
    }
    .margin-bottom-custom {
        margin-bottom: 15px;
    }
    .pto-time-off-margin-custom {
        margin-bottom: 10px;
    }
    .people-out-of-office-info .text-center h4 {
        font-size: 14px;
    }
    .checkbox-styling.margin-top {
        margin-top: 0px !important;
    }
    .checbox-styling {
        width: 20px;
        height: 20px;
    }
    .margin-right {
        margin-right: 15px;
    }
}


/*PTO Policies CSS Ends Here*/


/*PTO Employees Policy CSS Starts Here*/

.demo-page-list.pto-allowed-years ul>li:before {
    border-radius: 5px;
    left: 20px;
    z-index: 2;
    top: 23px;
    background-color: #fff;
    border: 3px solid #81b431;
    color: #81b431;
    height: 32px;
    line-height: 24px;
    font-weight: 700;
}

.demo-page-list.pto-allowed-years ul>li {
    padding: 0 0 0 70px;
}

.demo-page-list.pto-allowed-years ul {
    position: relative;
}

.demo-page-list.pto-allowed-years ul:after {
    content: "";
    position: absolute;
    top: 0;
    width: 4px;
    height: 100%;
    left: 34px;
    background-color: #eee;
}

.timeline-content {
    padding: 15px;
    background-color: #f4f4f4;
    position: relative;
    border-radius: 5px;
}

.timeline-content:before {
    content: "";
    position: absolute;
    top: 15px;
    width: 4px;
    left: -8px;
    width: 15px;
    height: 15px;
    background-color: #f4f4f4;
    transform: rotate(45deg);
}

.multi-select-custom .chosen-container-multi .chosen-choices {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0 6px;
    width: 100%;
    border: 1px solid #d2d2d2;
    background-color: #fff;
    cursor: text;
    border-radius: 5px;
    height: auto !important;
}

.multi-select-custom .chosen-container-multi .chosen-choices li.search-choice {
    background-color: #81b431;
    border-color: #81b431;
    color: #ffffff;
    background-size: 100% 0;
}

.multi-select-custom .chosen-container-multi .chosen-choices a.search-choice-close {
    color: #ffffff;
}

.filter-fields {
    padding: 0 10px;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #d2d2d2;
    border-radius: 0;
    font-size: 14px;
    height: 40px;
    border-radius: 6px;
}

.pto-plan-date {
    position: relative;
    float: left;
    width: 100%;
}

.pto-plan-date:after {
    content: "\f073";
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 40px;
    color: #9d9d9d;
    font-size: 14px;
    cursor: pointer;
    font-family: 'FontAwesome';
    text-align: center;
    line-height: 40px;
    pointer-events: none;
}

select#template {
    background: transparent;
}

.nav-tabs>li.active>a:focus {
    cursor: default;
    background-color: #fff;
    /* border: 3px solid #ddd; */
    border-bottom-color: #f5f7ff;
    font-size: 18px;
}

.btn:hover,
.btn:focus,
.btn.focus {
    color: #fff;
    text-decoration: none;
}

.table.table-bordered {
    background: #fff;
}

.text p {
    margin-top: 16px;
    color: #818181;
}

.text.active-status p {
    color: #629f03;
}

.text.in-active-status p {
    color: #de8585;
}

.people-out-of-office {
    background-color: #f3f3f3;
    border: 1px solid #ababab;
    border-radius: 5px;
    margin-bottom: 30px;
}

.people-out-of-office p.heading-style-custom {
    font-weight: 700;
    font-size: 16px;
    padding: 10px 0 10px 20px;
    border-bottom: 1px solid #dedede;
}

.padding-custom {
    padding: 20px;
}

.checkbox-styling label {
    display: block;
    float: left;
    font-weight: 500;
    font-size: 16px;
    margin-top: 20px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.timeline-title {
    font-weight: 700;
}

.select2-container--default .select2-selection--single {
    background-color: transparent !important;
    border: 1px solid #d2d2d2 !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 8px !important;
    padding-right: 20px !important;
}


/*PTO Employees Policy CSS Ends Here*/


/*PTO Approver CSS Starts Here*/

.multi-select-custom .chosen-container-multi .chosen-choices {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0 6px;
    width: 100%;
    border: 1px solid #d2d2d2;
    background-color: #fff;
    cursor: text;
    border-radius: 5px;
    height: auto !important;
}

.multi-select-custom .chosen-container-multi .chosen-choices li.search-choice {
    background-color: #81b431;
    border-color: #81b431;
    color: #ffffff;
    background-size: 100% 0;
}

.multi-select-custom .chosen-container-multi .chosen-choices a.search-choice-close {
    color: #ffffff;
}

.filter-fields {
    padding: 0 10px;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #d2d2d2;
    border-radius: 0;
    font-size: 14px;
    height: 40px;
    border-radius: 6px;
}

.pto-plan-date {
    position: relative;
    float: left;
    width: 100%;
}

.pto-plan-date:after {
    content: "\f073";
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 40px;
    color: #9d9d9d;
    font-size: 14px;
    cursor: pointer;
    font-family: 'FontAwesome';
    text-align: center;
    line-height: 40px;
    pointer-events: none;
}

select#template {
    background: transparent;
}

.nav-tabs>li.active>a:focus {
    cursor: default;
    background-color: #fff;
    /* border: 3px solid #ddd; */
    border-bottom-color: #f5f7ff;
    font-size: 18px;
}

.btn:hover,
.btn:focus,
.btn.focus {
    color: #fff;
    text-decoration: none;
}

.table.table-bordered {
    background: #fff;
}

.text p {
    margin-top: 16px;
    color: #818181;
}

.text.active-status p {
    color: #629f03;
}

.text.in-active-status p {
    color: #de8585;
}

.checkbox-styling label {
    display: block;
    float: left;
    font-weight: 500;
    font-size: 16px;
}

.margin-custom label {
    font-weight: initial;
}

.margin-bottom {
    margin-bottom: 30px;
}

.people-out-of-office {
    background-color: #f3f3f3;
    border: 1px solid #ababab;
    border-radius: 5px;
    margin-bottom: 30px;
}

.people-out-of-office p.heading-style-custom {
    font-weight: 700;
    font-size: 16px;
    padding: 10px 0 10px 20px;
    border-bottom: 1px solid #dedede;
}

.padding-custom {
    padding: 20px;
}

.margin-top {
    margin-top: 15px;
}

.margin-left {
    margin-left: 15px;
}

.select2-container--default .select2-selection--single {
    background-color: transparent !important;
    border: 1px solid #d2d2d2 !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 8px !important;
    padding-right: 20px !important;
}


/*PTO Approver CSS Ends Here*/


/*PTO Plans CSS Starts Here*/

.col-lg-12.checkbox-styling.margin-top {
    margin: 40px 0px 10px 15px;
}

.multi-select-custom .chosen-container-multi .chosen-choices {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0 6px;
    width: 100%;
    border: 1px solid #d2d2d2;
    background-color: #fff;
    cursor: text;
    border-radius: 5px;
    height: auto !important;
}

.multi-select-custom .chosen-container-multi .chosen-choices li.search-choice {
    background-color: #81b431;
    border-color: #81b431;
    color: #ffffff;
    background-size: 100% 0;
}

.multi-select-custom .chosen-container-multi .chosen-choices a.search-choice-close {
    color: #ffffff;
}

.filter-fields {
    padding: 0 10px;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #d2d2d2;
    border-radius: 0;
    font-size: 14px;
    height: 40px;
    border-radius: 6px;
}

.pto-plan-date {
    position: relative;
    float: left;
    width: 100%;
}

.pto-plan-date:after {
    content: "\f073";
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 40px;
    color: #9d9d9d;
    font-size: 14px;
    cursor: pointer;
    font-family: 'FontAwesome';
    text-align: center;
    line-height: 40px;
    pointer-events: none;
}

select#template {
    background: transparent;
}

.nav-tabs>li.active>a:focus {
    cursor: default;
    background-color: #fff;
    /* border: 3px solid #ddd; */
    border-bottom-color: #f5f7ff;
    font-size: 18px;
}

.btn:hover,
.btn:focus,
.btn.focus {
    color: #fff;
    text-decoration: none;
}

.table.table-bordered {
    background: #fff;
}

.text p {
    margin-top: 16px;
    color: #818181;
}

.text.active-status p {
    color: #629f03;
}

.text.in-active-status p {
    color: #de8585;
}

.margin-custom {
    margin: 10px;
}

.margin-bottom {
    margin-bottom: 30px;
}

.people-out-of-office {
    background-color: #f3f3f3;
    border: 1px solid #ababab;
    border-radius: 5px;
    margin-bottom: 30px;
}

.people-out-of-office p.heading-style-custom {
    font-weight: 700;
    font-size: 16px;
    padding: 10px 0 10px 20px;
    border-bottom: 1px solid #dedede;
}

.padding-custom {
    padding: 20px;
}

.select2-container--default .select2-selection--single {
    background-color: transparent !important;
    border: 1px solid #d2d2d2 !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 8px !important;
    padding-right: 20px !important;
}

.hide-for-desktop {
    display: none;
}

@media screen and (max-width: 767px) {
    .hide-for-desktop {
        display: block;
    }
    .people-out-of-office {
        display: block;
    }
    .people-out-of-office figure {
        text-align: center;
    }
    .allowed-time-off-title-custom .pto-allowed-years .timeline-content .margin-custom {
        margin: 10px 0px;
    }
    .margin-bottom-custom {
        margin-bottom: 60px;
    }
    .pto-time-off-margin-custom {
        margin-bottom: 10px;
    }
    .people-out-of-office-info .text-center h4 {
        font-size: 14px;
    }
    .checkbox-styling.margin-top {
        margin-top: 0px !important;
    }
    .checbox-styling {
        width: 20px;
        height: 20px;
    }
}


/*PTO Plans CSS Starts Here*/


/*PTO Request CSS Starts Here*/

.col-lg-12.checkbox-styling.margin-top {
    margin: 40px 0px 10px 15px;
}

.filter-content.show-filter {
    display: block;
}

.filter-fields {
    padding: 0 10px;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #d2d2d2;
    border-radius: 0;
    font-size: 14px;
    height: 40px;
    border-radius: 6px;
}

.nav-tabs>li.active>a:focus {
    cursor: default;
    background-color: #fff;
    /* border: 3px solid #ddd; */
    border-bottom-color: #f5f7ff;
    font-size: 18px;
}

.nav-tabs.apply-filter-header {
    border-bottom: none;
    margin-top: 10px;
}

.upcoming-time-info .icon-image {
    float: left;
    width: 40px;
    height: 40px;
    display: inline-block;
}

.upcoming-time-info .icon-image img {
    width: 100%;
    height: 100%;
}

.upcoming-time-info .text {
    margin: 5px 0 0 50px;
}

.upcoming-time-info .text h4 {
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}

.upcoming-time-info .text p {
    color: #818181;
    font-weight: normal;
    font-size: 14px;
    margin: 0;
}

.upcoming-time-info .text p span {
    font-weight: bold;
}

.denied-button {
    margin-top: 15px;
}

.denied-button .denied-stat {
    padding: 7px 20px;
    border: 1px solid #c03b3b;
    border-radius: 6px;
    color: #c03b3b;
}

.approved-button {
    margin-top: 15px;
}

.approved-button .approved-stat {
    padding: 7px 20px;
    border: 1px solid #489528;
    border-radius: 6px;
    color: #489528;
}

.cancelled-button {
    margin-top: 15px;
}

.cancelled-button .cancelled-stat {
    padding: 7px 20px;
    border: 1px solid #f7cccc;
    border-radius: 6px;
    color: #f7cccc;
}

.progress-bar-custom.progress .progress-bar.progress-bar-success {
    background-color: #81b431;
}

.progress-bar-custom {
    margin-top: 7px;
}

.progress-bar-custom .progress {
    margin-bottom: 0px;
}

.progress-bar-custom .progress-percent {
    text-align: center;
}

.pagination-mb-0 {
    margin-bottom: 0px;
}

.progress-bar-custom .progress-bar-tooltip {
    margin-left: 0px;
}

.progress-bar-custom .progress-bar-tooltip a {
    display: block;
}

.notes-employee {
    margin-top: 16px;
}

.notes-employee a {
    color: #818181;
    margin-right: 20px;
}

.notes-employee .custom-tooltip+.tooltip>.tooltip-inner {
    background: #fff;
    border: 1px solid #999999;
    color: #818181;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 15px 10px 15px;
}

.notes-employee .custom-tooltip+.tooltip>.tooltip-arrow {
    position: relative;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    top: 53px;
}

.notes-employee .custom-tooltip+.tooltip>.tooltip-arrow:before {
    position: absolute;
    content: '';
    z-index: 10;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid white;
    left: -9px;
    top: -10px;
}


/*.new-tooltip-hover a{
    color: #818181;
    margin-right: 20px;
}
.new-tooltip-hover{
    position: relative;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    top: 53px;
}

.new-tooltip-hover:before{
    position: absolute;
    content: '';
    z-index: 10;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid white;
    left: -9px;
    top: -10px;
}
.tooltip-inner {
    white-space:pre-wrap;
}*/

.approve-employee {
    margin-top: 16px;
}

.approve-employee a {
    color: #818181;
    margin-right: 20px;
}

.approve-employee .custom-tooltip+.tooltip>.tooltip-inner {
    background: #fff;
    border: 1px solid #999999;
    color: #818181;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 15px 10px 15px;
}

.approve-employee .custom-tooltip+.tooltip>.tooltip-arrow {
    position: relative;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    top: 53px;
}

.approve-employee .custom-tooltip+.tooltip>.tooltip-arrow:before {
    position: absolute;
    content: '';
    z-index: 20;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid white;
    left: -9px;
    top: -10px;
}

.approve-reject-employee {
    margin-left: 40px;
}

.approve-reject-employee a {
    color: #818181;
    margin-right: 20px;
}

.approve-reject-employee .custom-tooltip+.tooltip>.tooltip-inner {
    background: #fff;
    border: 1px solid #999999;
    color: #818181;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 15px 10px 15px;
}

.approve-reject-employee .custom-tooltip+.tooltip>.tooltip-arrow {
    width: 0;
    height: 0;
    right: -12px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #999999;
    transform: rotate(-90deg);
    top: 15px !important;
}

.approve-reject-employee .custom-tooltip+.tooltip>.tooltip-arrow:before {
    position: absolute;
    content: '';
    z-index: 30;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid white;
    transform: rotate(0deg);
    left: -9px;
    top: -11px;
}

.progress-bar-tooltip {
    margin-left: 30px;
}

.progress-bar-tooltip a {
    color: #818181;
    margin-right: 20px;
}

.table-responsive.custom-table-responsive {
    padding: 20px 0 0 0;
    overflow: visible;
}

.text-all span {
    float: left;
    display: inline-block;
}


/*PTO Request CSS Ends Here*/


/*PTO Report CSS Starts Here*/

.box {
    display: inline-block;
    position: relative;
}

.box:hover .tooltip--multiline {
    display: block;
}

.tooltip--multiline .left-tooltip-content {
    width: 49%;
    float: left;
}

.tooltip--multiline .right-tooltip-content {
    width: 49%;
    float: right;
}

.clearfix-tooltip {
    display: block;
    clear: both;
}

.tooltip--multiline {
    background: #000;
    color: #fff;
    display: none;
    padding: 10px;
    position: absolute;
    bottom: 75%;
    width: 225px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    border-radius: 7px;
    background-color: white;
    color: #000;
    border: 1px solid #999999;
}

.tooltip--multiline:before {
    border-top: 10px solid #999999;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    border-radius: 0px;
}

.tooltip--multiline:after {
    border-top: 9px solid #fff;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    border-radius: 0px;
}

.left-tooltip-content {
    color: #818181;
}

.right-tooltip-content {
    color: #c6c6c6;
}


/*PTO Report CSS Ends Here*/


/*Create PTO Request Starts Here*/

.btn-pto-request {
    margin: 6px 0 0 0;
    background-color: #768def;
    color: #fff;
    border: none;
}

.btn-pto-request:hover {
    background-color: #5b79fb;
}

.partial-field-content {
    border-bottom: 1px solid #dedede;
}

.partial-field-heading {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    margin: 0 0 10px 0;
}

.img-dropdown .dropdown-menu {
    width: 100%;
    min-width: 100%;
}

.img-dropdown .dropdown-menu>li>a {
    padding: 10px 20px;
    border-bottom: 1px solid #dedede;
}

.employee-bottom-section {
    border: 1px solid #dedede;
    padding: 15px;
}

.employee-bottom-section ul {
    padding: 15px
}

.employee-add-heading {
    border-bottom: 1px solid #eee;
}

.employee-add-heading h4 {
    font-size: 16px;
    font-weight: 600;
}

.employee-bottom-section p {
    font-size: 16px;
    font-weight: 600;
}

.employee-add-heading ul {
    margin-left: 15px;
}

.employee-add-heading ul li {
    margin: 15px 0px;
}

.img-dropdown {
    position: relative;
}

.img-dropdown img {
    width: 50px;
    height: 50px;
}

.img-dropdown .dropdown-toggle {
    height: 70px;
    line-height: 70px;
    display: block;
    padding: 0 20px;
    position: relative;
}

.img-dropdown img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.form-group.img-dropdown {
    border: 1px solid #dedede;
    border-radius: 4px;
    margin-top: 10px;
}

.img-dropdown span.pto-plan-date-from {
    position: absolute;
    top: 50%;
    right: 10px;
    width: auto;
    transform: translate(-70%, -50%) !important;
}

@media screen and (max-width: 767px) {
    .hide-for-desktop {
        display: block;
    }
    .people-out-of-office {
        display: block;
    }
    .people-out-of-office figure {
        text-align: center;
    }
    .btn-filter-reset {
        margin-top: 0px !important;
    }
    .allowed-time-off-title-custom .pto-allowed-years .timeline-content .margin-custom {
        margin: 10px 0px;
    }
    .margin-bottom-custom {
        margin-bottom: 60px;
    }
    .pto-time-off-margin-custom {
        margin-bottom: 10px;
    }
    .people-out-of-office-info .text-center h4 {
        font-size: 14px;
    }
    .checkbox-styling.margin-top {
        margin-top: 0px !important;
    }
    .checbox-styling {
        width: 20px;
        height: 20px;
    }
}


/*Create PTO Request Ends Here*/


/*PTO Report Starts Here*/

@media screen and (max-width: 767px) {
    .hide-for-desktop {
        display: block;
    }
    .people-out-of-office {
        display: block;
    }
    .people-out-of-office figure {
        text-align: center;
    }
    .pto-tabs .nav-tabs .btn {
        padding: 6px 6px;
        font-size: 12px;
    }
    .btn-filter-reset {
        margin-top: 0px !important;
    }
    .allowed-time-off-title-custom .pto-allowed-years .timeline-content .margin-custom {
        margin: 10px 0px;
    }
    .margin-bottom-custom {
        margin-bottom: 60px;
    }
    .pto-time-off-margin-custom {
        margin-bottom: 10px;
    }
    .people-out-of-office-info .text-center h4 {
        font-size: 14px;
    }
    .checkbox-styling.margin-top {
        margin-top: 0px !important;
    }
    .checbox-styling {
        width: 20px;
        height: 20px;
    }
}


/*PTO Report Ends Here*/


/*PTO Request Report Starts Here*/

@media screen and (max-width: 767px) {
    .hide-for-desktop {
        display: block;
    }
    .people-out-of-office {
        display: block;
    }
    .people-out-of-office figure {
        text-align: center;
    }
    .btn-filter-reset {
        margin-top: 0px !important;
    }
    .allowed-time-off-title-custom .pto-allowed-years .timeline-content .margin-custom {
        margin: 10px 0px;
    }
    .margin-bottom-custom {
        margin-bottom: 60px;
    }
    .pto-time-off-margin-custom {
        margin-bottom: 10px;
    }
    .people-out-of-office-info .text-center h4 {
        font-size: 14px;
    }
    .checkbox-styling.margin-top {
        margin-top: 0px !important;
    }
    .checbox-styling {
        width: 20px;
        height: 20px;
    }
}


/*PTO Request Report Ends Here*/


/*PTO Requests Starts Here*/

@media screen and (max-width: 767px) {
    .hide-for-desktop {
        display: block;
    }
    .people-out-of-office {
        display: block;
    }
    .people-out-of-office figure {
        text-align: center;
    }
    .btn-filter-reset {
        margin-top: 0px !important;
    }
    .allowed-time-off-title-custom .pto-allowed-years .timeline-content .margin-custom {
        margin: 10px 0px;
    }
    .margin-bottom-custom {
        margin-bottom: 60px;
    }
    .pto-time-off-margin-custom {
        margin-bottom: 10px;
    }
    .people-out-of-office-info .text-center h4 {
        font-size: 14px;
    }
    .checkbox-styling.margin-top {
        margin-top: 0px !important;
    }
    .checbox-styling {
        width: 20px;
        height: 20px;
    }
}


/*PTO Requests Ends Here*/


/* --------------------------------------------------------------- */


/* ----------------------[Overwrite]----------------------------- */


/*By M*/


/*loader*/

.cs-loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, .5);
}

.cs-loader-box {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 300px;
    margin: auto;
    margin-top: -190px;
}

.cs-loader-box i {
    font-size: 14em;
    color: #81b431;
}

.cs-loader-box div.cs-loader-text {
    display: block;
    padding: 10px;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    margin-top: 35px;
}

.cs-calendar {
    margin-top: 10px;
}


/**/

.ajs-button {
    background-color: #81b431 !important;
    color: #ffffff !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-color: #4cae4c !important;
}

.ajs-header {
    background-color: #81b431 !important;
    color: #ffffff !important;
}


/**/

.cs-timeoff-history-row {
    border: 1px solid #ccc;
    margin: 5px;
    margin-bottom: 10px;
}

.cs-timeoff-history-row ul {
    list-style: none;
}

.cs-timeoff-history-row ul li {
    display: inline-block;
}


/*.employee-add-heading{
    margin: 50px 0px 50px 10px;
    border-bottom: 1px solid red;
}

.form-group .employee-add-heading h4{
    font-weight: 800;
}
  */

.partial-field-content {
    border-bottom: 1px solid #dedede;
}

.img-dropdown .dropdown-menu {
    width: 100%;
    min-width: 100%;
}

.img-dropdown .dropdown-menu>li>a {
    padding: 10px 20px;
    border-bottom: 1px solid #dedede;
}

.right-content {
    margin-bottom: 0px !important;
}

.employee-bottom-section {
    border-bottom: 1px solid #dedede;
}

.employee-add-heading ul {
    margin-left: 15px;
}

.employee-add-heading ul li {
    margin: 15px 0px;
}

.img-dropdown {
    position: relative;
}

.img-dropdown img {
    width: 50px;
    height: 50px;
}

.img-dropdown .dropdown-toggle {
    height: 70px;
    line-height: 70px;
    display: block;
    padding: 0 20px;
    position: relative;
}

.img-dropdown img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.form-group.img-dropdown {
    border: 1px solid #dedede;
    border-radius: 4px;
    margin-top: 10px;
}

.img-dropdown span.hr-select-dropdown {
    position: absolute;
    top: 50%;
    right: 10px;
    width: auto;
    transform: translate(-70%, -50%) !important;
}

@media screen and (max-width: 767px) {
    .hide-for-desktop {
        display: block;
    }
    .people-out-of-office {
        display: block;
    }
    .people-out-of-office figure {
        text-align: center;
    }
    .people-out-of-office figure .emp-image {
        display: inline-block;
    }
    .btn-apply-filter {
        margin-right: 10px;
        margin-top: 7px;
    }
    .pto-tabs .nav-tabs .btn {
        padding: 6px 6px;
        font-size: 12px;
    }
    .pto-pagination .pagination-left-content p {
        font-size: 13px;
    }
    .btn-filter-reset {
        margin-top: 0px !important;
    }
    .allowed-time-off-title-custom .pto-allowed-years .timeline-content .margin-custom {
        margin: 10px 0px;
    }
    .margin-bottom-custom {
        margin-bottom: 60px;
    }
    .pto-time-off-margin-custom {
        margin-bottom: 10px;
    }
    .people-out-of-office-info .text-center h4 {
        font-size: 14px;
    }
    .checkbox-styling.margin-top {
        margin-top: 0px !important;
    }
    .checbox-styling {
        width: 20px;
        height: 20px;
    }
}

.cs-custom-dd {
    max-height: 300px;
    overflow-y: auto;
}

.cs-custom-dd a {
    padding-bottom: 20px !important;
}

.cs-custom-dd li h5 {
    padding-left: 60px !important;
}

.m15 {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.right-content .mg-lr-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.employee-info figure {
    width: 50px !important;
    height: 50px !important;
}

.employee-info h4 {
    font-size: 16px !important;
}

.progress-bar-success {
    background-color: #81b431 !important;
}

#js-page-add .js-content-area,
#js-page-edit .js-content-area {
    padding: 10px !important;
}

.bottom-section-pto {
    padding: 65px 0;
}

.btn-apply-filter {
    font-size: 14px;
}

.btn-apply-filter i {
    margin-right: 5px;
}

.btn-apply-filter-active {
    background-color: #81b431 !important;
}

.employee-info figure img {
    border-radius: 3px !important;
}

.img-dropdown img {
    border-radius: 3px !important;
}

.heading-grey th {
    color: #000 !important;
    font-weight: bold;
    font-size: 14px;
    padding: 10px !important;
}

.cs-status-text {
    font-weight: bold;
}

.employee-info .text a {
    color: #111 !important;
}

.employee-info .text h4 {
    font-size: 18px !important;
}

.upcoming-time-info p {
    color: #111 !important;
}


/* .fa.fa-edit:hover, */


/* .fa.fa-pencil-square-o:hover{
    color: #81b431 !important;
} */


/* .fa.fa-archive{ color: #a94442 !important; } */


/* .fa.fa-check-square-o{ color: #81b431 !important; } */

#js-data-area .text p {
    color: #000 !important;
}

.cs-bl-tabs .nav-tabs {
    padding-bottom: 7px;
}

#js-data-area p.cs-success {
    color: #81b431 !important;
}

#js-data-area p.cs-danger {
    color: #a94442 !important;
}

#js-data-area p.cs-warning {
    color: #8a6d3b !important;
}

#ui-datepicker-div {
    z-index: 2 !important;
}

.js-policy-list-ul li {
    color: #000;
}

.icon_blue,
i.icon_blue:hover {
    color: #0000FF !important;
}

.cs-archive-color {
    color: #a94442 !important;
}

.cs-policy-color {
    color: #81b431 !important;
}

.cs-required {
    font-weight: bold;
    color: #cc0000 !important;
}

.action-employee a {
    margin-right: 0 !important;
}

input[readonly] {
    background-color: #fff !important;
}


/* --------------------------------------------------------------- */


/* Add button */

.cs-btn-add {
    display: inline-block;
    background-color: #000000;
    color: #ffffff !important;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 0;
    margin-top: -5px;
}

.cs-btn-add i {
    color: #ffffff !important;
}

a.cs-green-bg {
    background-color: #81b431 !important;
    color: #ffffff !important;
}

a.cs-green-bg i {
    color: #ffffff !important;
}


/* Tab mouse */

.js-tab {
    cursor: pointer;
}

.js-tab.active a {
    font-weight: 800 !important;
}


/* Helpers */

.pl0 {
    padding-left: 0 !important;
}

.pr0 {
    padding-right: 0 !important;
}

.pl10 {
    padding-left: 10px !important;
}

.pr10 {
    padding-right: 10px !important;
}

.ml0 {
    margin-left: 0 !important;
}

.mr0 {
    margin-right: 0 !important;
}

.p10 {
    padding: 10px !important;
}

.pl10 {
    padding-left: 10px !important;
}

.pr10 {
    padding-right: 10px !important;
}

.pa10 {
    padding-top: 10px !important;
}

.pb10 {
    padding-bottom: 10px !important;
}

.m10 {
    margin: 10px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.ma10 {
    margin-top: 10px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.mr10 {
    margin-right: 10px !important;
}


/* Common loader CSS */

.csIPLoader {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, .9);
    z-index: 1;
}

.csIPLoader i {
    position: relative;
    top: 50%;
    left: 50%;
    font-size: 60px;
    color: #000000;
    /* color: #81b431; */
    transform: translate(-50%, -50%);
}


/*  */

.csIPPage {
    min-height: 300px !important;
}


/*  */

.csPIPage {
    position: relative;
    border: 1px solid #d4d4d4;
    overflow: hidden;
    margin-bottom: 50px;
    /* margin-top: 30px; */
    background-color: #ffffff !important;
}


/*  */

.csStepPills li a {
    color: #000000;
}

.csStepPills li.active a {
    background-color: #81b431 !important;
}

.csStepPills li a.disabled {
    cursor: not-allowed;
}


/*  */

.csNavBar {
    background-color: #fff;
}

.csNavBar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.csNavBar ul li {
    display: inline-block;
}

.csNavBar ul li a {
    display: block;
    padding: 10px;
    color: #000000;
    border-bottom: 2px solid #ffffff;
}

.csNavBar ul li a i {
    margin-right: 5px;
}

.csNavBar ul li a:hover,
.csNavBar ul li a.active {
    background-color: #81b431;
    color: #ffffff;
}

.csNavBar ul li a.csBackButton {
    background-color: #000000;
    color: #ffffff;
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 5px;
}

.csNavBar ul li a.current:hover {
    border: none;
}


/* Submenu */

.csNavBar ul li.has ul {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 1;
    background: #ffffff;
    border: 2px solid #f1f1f1;
    border-top: none;
}

.csNavBar ul li.has ul li {
    display: block;
}

.csNavBar ul li.has:hover>ul {
    display: block;
}

.csMobile {
    display: none;
}

.csMobile span i {
    font-size: 25px;
    margin-top: 8px;
}

.csMobile ul.csVertical {
    background: #ffffff;
    display: none;
}

.csMobile ul.csVertical li {
    display: block;
}

.csMobile ul.csVertical li a {
    border-bottom: 1px solid #81b431;
}

.csMobile ul.csVertical li a:active {
    background: #81b431;
    color: #fff;
}

.csMobile ul.csVertical li>ul {
    display: block;
    width: 100%;
    position: static;
}

.csMobile ul.csVertical>ul li {
    display: block;
}

.csMobile .csBack {
    display: inline-block;
    background-color: #81b431;
    color: #ffffff;
    margin-top: 2px;
    padding: 5px 10px;
    border-radius: 5px;
}

@media only screen and (max-width: 990px) {
    .csWeb {
        display: none;
    }
    .csMobile {
        display: block !important;
    }
    .text-xs-center {
        text-align: center !important;
    }
    .pagination {
        float: none !important;
        margin: 0;
    }
}


/*  */

.ui-sortable {
    cursor: grab !important;
}


/*  */

.fa-archive {
    color: #a94442 !important;
}


/* Pagination overwrite */

.cs-pagination li a {
    color: #000000;
}

.cs-pagination li.active a,
.cs-pagination li.active a:hover {
    background-color: #81b431;
}


/*  */

.btn-black {
    background-color: #000000;
    color: #ffffff;
}

.btn-black:hover,
.btn-black:focus,
.btn-black:active {
    background-color: #000000;
    color: #ffffff;
}


/* Modal */

.csModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ffffff;
}

.csModal .csModalHeader {
    min-height: 45px;
    color: #333;
    border-bottom: 1px solid #ddd;
    background-color: #ffffff;
}

.csModal .csModalHeader .csModalHeaderTitle {
    font-weight: 800;
}

.csModal .csModalHeader .csModalHeaderTitle button {
    margin-top: -5px;
}

.csModal .csModalBody {
    color: #333;
    padding: 10px;
    overflow-y: auto;
    position: absolute;
    top: 65px;
    right: 0;
    left: 0;
    bottom: 0;
}

.csModal .csModalBody label {
    font-size: 16px;
}


/* Table */

.csCustomTableHeader thead {
    background-color: #000000;
    color: #fff !important;
}

.csCustomTableHeader thead .popover {
    color: #000000 !important;
}


/*  */

.cs-icon-box {
    background-color: #000;
    border-radius: 3px;
    height: 50px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.cs-icon-box.active {
    background-color: #81b314;
}

.cs-icon-box img {
    display: block;
    margin: auto;
    max-width: 100%;
}


/*  */

#js-data-area p.csTxtDanger {
    color: #a94442 !important;
    font-weight: 900;
}

#js-data-area p.csTxtSuccess {
    color: #81b314 !important;
    font-weight: 900;
}


/*  */

.panel-black .panel-heading {
    background-color: #000000;
    color: #ffffff;
}


/*  */

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #81b314;
}


/*  */

.dn {
    display: none;
}


/*  */

canvas {
    width: auto !important;
    height: 300px !important;
}

.csDisabled {
    background-color: #ddd;
    cursor: no-drop;
}


/*  */

.select2-container--default.select2-container--disabled .select2-selection--single,
input[disabled] {
    background-color: #ddd !important;
    cursor: no-drop !important;
}


/*  */

.active-content .table-responsive {
    padding-bottom: 100px;
}


/*  */

#ui-datepicker-div {
    z-index: 9999 !important;
}


/*  */

.btn-default.dropdown-toggle {
    background-color: #81b314;
    color: #ffffff;
}


/*  */

.fa-question-circle:hover {
    cursor: pointer !important;
}


/*  */

#js-data-area .fa {
    font-size: 20px !important;
}


/*  */

.text-success {
    color: #81b314 !important;
}

.text-danger {
    color: #c03b3b !important;
}


/*  */

.csApproverBox {
    position: relative;
    display: inline-block;
    margin-right: 5px;
}

.csApproverBox img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.csApproverBox i {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 20px;
}


/*  */

.csCustomTableHeader td {
    vertical-align: middle !important;
}


/*  */

.csExpandBalance i {
    margin-left: 5px;
    margin-top: 5px;
    color: #0000FF;
}

.csExpandBalance i:hover {
    color: #0000FF;
}


/*  */


/* override position and transform in 3.3.x */

.carousel-inner .item.left.active {
    transform: translateX(-33%);
}

.carousel-inner .item.right.active {
    transform: translateX(33%);
}

.carousel-inner .item.next {
    transform: translateX(33%)
}

.carousel-inner .item.prev {
    transform: translateX(-33%)
}

.carousel-inner .item.right,
.carousel-inner .item.left {
    transform: translateX(0);
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}


/*  */

.csCard {
    position: relative;
}

.csFixedToRight {
    position: absolute;
    right: 10px;
    top: 10px;
}


/*  */

.csToRight {
    float: right;
}


/*  */

.csCard {
    position: relative;
}

.csFixToRight {
    position: absolute;
    right: 5px;
    top: 5px;
}


/*  */

.csSeprator {
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-top: 2px solid #eee;
}


/* csWhoOut */

.csTopNavOut {
    min-height: 70px;
}

.csTopNavOut h3 {
    font-weight: 800;
}

.csTopNavOut ul {
    list-style: none;
    /* background-color: #fff;
    padding: 10px;
    border: 1px solid #d4d4d4; */
}

.csTopNavOut ul li {
    display: inline-block;
}

.csTopNavOut ul a {
    display: block;
    width: 70px;
    height: 70px;
}

.csTopNavOut ul a img {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border: 2px solid #d4d4d4;
}


/* csWhoOut */

.csTopNavOutMobile {
    min-height: 70px;
}

.csTopNavOutMobile h3 {
    font-weight: 800;
}

.csTopNavOutMobile ul {
    list-style: none;
    /* background-color: #fff;
    padding: 10px;
    border: 1px solid #d4d4d4; */
}

.csTopNavOutMobile ul li {
    display: inline-block;
}

.csTopNavOutMobile ul a {
    display: block;
    width: 70px;
    height: 70px;
}

.csTopNavOutMobile ul a img {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border: 2px solid #d4d4d4;
}


/* Mobile */

.jsMobileBTN {
    width: 100%;
    margin-bottom: 5px;
}

@media only screen and (max-width: 600px) {
    .csToRight {
        float: none;
        display: block;
    }
    .csToRight button,
    .csToRight a {
        float: left;
        margin-right: 5px;
        margin-top: 10px !important;
        width: 48%;
    }
    .csCustomTableHeader {
        border-collapse: separate;
        border-spacing: 0 10px;
    }
    .csCustomTableHeader thead {
        display: none;
    }
    .csCustomTableHeader td {
        display: block !important;
        width: 100% !important;
    }
    .csCustomTableHeader tr {
        background-color: #eee !important;
    }
}


/*  */