.htaccess

manage_ams/10-23-2019PDT23:59:17-gapi.txt
manage_ams/10-24-2019PDT00:00:30-gapi.txt

temp_files
temp_files/*

.ftpquota

assets/fba
assets/ics_files
assets/import_csv
assets/temp_files
assets/timeoff.bak
assets/timeoff.baknew
assets/uploaded_videos
assets/uploads
assets/vcs_files
assets/video_interview
assets/bulk_download.zip
assets/admin

ses
ses/*

mailer
mailer/*

share
share/*

test
test/*

error_log

info.php.bak
info.php.tmp

toberemoved.txt

cache
cache/*
company_date

ext
ext/*

htaccess_backups
htaccess_backups/*

manage_portal/assets/temp_files
manage_portal/assets/cgi-bin

manage_ams/assets/temp_files
manage_ams/assets/cgi-bin


manage_ams/10-23-2019PDT23-59-59-gapi.txt
manage_ams/10-24-2019PDT23-59-59-gapi.txt


assets/mails/pipescript.txt
dummp.json
tes.php
ahr-example-access.log
ahr-example-error.log


images
images/*

public_html
public_html/*

sitemap.xml
applicant
applicant/*

manage_ams/sitemap.xml
manage_ams/robots.xml

vendor
vendor/*

creds.json
google_hire_automotosocial.json
google_hire.json

affiliate_portal/application/logs/*
application/logs/*
executive_admin/application/logs/*
manage_ams/application/logs/*
manage_portal/application/logs/*


manage_ams/sitemap.xml

staging
staging/*

assets/performance_management/videos
assets/performance_management/videos/*

apis