# Excluding directories
jobs2careers
json_files
system
temp_files
ui-ux-admin
vendor
ext
htaccess_backups
sitemaps
images
assets/fba
assets/ics_files
assets/import_csv
assets/uploaded_videos
assets/uploads
assets/vcs_files
assets/video_interview
assets/admin
assets/tmp
assets/performance_management/videos
assets/performance_management/videos/*
assets/shifts_ics_files
assets/l

# Exclude system folder
#system
#manage_ams/system
#manage_portal/system
#affiliate_portal/system
#executive_admin/system

# Temp folder
assets/temp_files
manage_portal/assets/temp_files
manage_ams/assets/temp_files

# Sonarqube ignore
.scannerwork
.scannerwork/*

manage_ams/10-23-2019PDT23:59:17-gapi.txt
manage_ams/10-24-2019PDT00:00:30-gapi.txt

manage_portal/assets/cgi-bin
manage_ams/assets/cgi-bin

# Excluding files
error_log
.htaccess
.ftpquota
.idea
google_hire_automotosocial.json
google_hire.json
google4e834116a73313a4.html
googleaf8e4495cde7e323.html

# Logs files
application/logs
manage_ams/application/logs
manage_portal/application/logs
affiliate_portal/application/logs
executive`_admin/application/logs

# Sitemaps
sitemap.xml
manage_portal/sitemap.xml
manage_ams/sitemap.xml
manage_ams/robots.xml

# Well_know
.well_known
manage_portal/.well_known
manage_ams/.well_known
manage_affiliate/.well_known
.well_known/*
manage_portal/.well_known/*
manage_ams/.well_known/*
manage_affiliate/.well_known/*

# Excluding cache
cache
application/cache
affiliate_portal/application/cache
executive_admin/application/cache
manage_ams/application/cache
manage_portal/application/cache

cache/*
application/cache/*
affiliate_portal/application/cache/*
executive_admin/application/cache/*
manage_ams/application/cache/*
manage_portal/application/cache/*


# exclude the SCORM couses folder
uploads/*
# exclude SEO files
ror.xml
urllist.txt
robots.txt

# exclude all SSL files
.well-known/*
manage_portal/.well-known/*
manage_ams/.well-known/*
affiliate_portal/.well-known/*
executive_admin/.well-known/*

# LMS
uploads
new