@media only screen and (min-width: 1201px) and (max-width: 1400px){
  
}
@media only screen and (min-width: 992px) and (max-width: 1200px){

}
@media only screen and (min-width: 768px) and (max-width: 991px){

}
@media only screen and (max-width: 767px){
    .sidebar-open .main-sidebar{
        padding-top: 86px;
    }
    .main-header .logo{
        height: auto;
        line-height: normal;
        padding: 5px 15px;
    }
    .main-header .logo .logo-lg .img-responsive{
        width: auto;
        height: 75px;
    }
    .pagination-wrp .pagination{
        text-align: center;
        width: 100%;
    }
    .pagination-wrp .pagination li:first-child a,
    .pagination-wrp .pagination li:first-child span {
        margin-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .pagination-wrp .pagination li:last-child a,
    .pagination-wrp .pagination li:last-child span {
         border-top-right-radius: 0;
         border-bottom-right-radius: 0;
    }
    .pagination-wrp .pagination li a,
    .pagination-wrp .pagination li span {
        margin: 1px;
        float: none;
        display: inline-block;
    }
    .btn-equalizer{
        margin: 0;
    }
    .form-wrp .form-group{
        height: auto;
    }
    .login-box.generate-password{
        width: 90%;
        max-width: none;
    }
    .border-separator{
        margin-top: 20px !important;
        padding-top: 20px;
        border-top: 1px solid #fff;
    }
}
@media only screen and (min-width: 320px) and (max-width: 480px){

}