@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic);


@import url("https://fonts.googleapis.com/css?family=Sofia");
@import url("https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese");
@import url("https://fonts.googleapis.com/css?family=Pacifico&subset=cyrillic,latin-ext,vietnamese");
@import url("https://fonts.googleapis.com/css?family=Vibur");
@import url("https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff");
@import url("https://fonts.googleapis.com/css?family=Alex+Brush");
@import url("https://fonts.googleapis.com/css?family=Sacramento");
@import url("https://fonts.googleapis.com/css?family=Galada");
@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat-Regular.ttf") format("truetype"),
    url("../fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Conv_SCRIPTIN";
  src: url("../fonts/SCRIPTIN.eot");
  src: local("☺"), url("../fonts/SCRIPTIN.woff") format("woff"),
    url("../fonts/SCRIPTIN.ttf") format("truetype"),
    url("../fonts/SCRIPTIN.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    outline: none !important;
}
.clear{
    clear: both;
    font-size: 0;
    line-height: 0;
}
a{
    text-decoration: none;
}
html,
body {
	height:100%;
}
body{
    font-size: 14px;
    color: #000;
    line-height: 1.5;
    position: relative;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}
body h1, body h2, body h3, body h4, body h5, body h6{
    line-height: 1.3;
}
.page-title {
    margin: 0;
    font-size: 20px;
    color: #000;
    font-weight: 700;
    text-transform: capitalize;
}
.heading-title {
    float: left;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #eee;
}
.page-title i {
    margin: 0 15px 0 0;
}
.wrapper {
	min-height:100%;
	position:relative;
}
.header {
	background:#000;
	padding:10px;
}
.topRight {
    border-radius: 5px;
    color: #fff;
    float: right;
    font-size: 15px;
    margin: 10px 0 0 0;
    padding: 10px;
    background: #81b431;
    text-align: center;
}
.topRight a{
    color: #fff;
    text-decoration: underline;
}
.topRight a:hover{
    text-decoration: none;
}
.main {
	padding: 20px 0 100px 0;
}
.hr-login-section {
    margin: 65px auto;
    max-width: 600px;
}
.hr-box-wrap {
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 25px 15px 15px 15px;
}
.hr-login-logo {
    float: left;
    margin: 0 0 20px;
    text-align: center;
    width: 100%;
}
.hr-login-box {
    float: left;
    width: 100%;
}
.fields-wrapper {
    float: left;
    position: relative;
    width: 100%;
}
.hr-login-box form ul {
    float: left;
    margin: 0;
    width: 100%;
}
.hr-login-box form ul li {
    float: left;
    list-style: outside none none;
    margin: 0 0 25px;
    width: 100%;
}
.field-icon {
    background-color: #81b431;
    border-radius: 50px 0 0 50px;
    color: #fff;
    font-size: 30px;
    height: 56px;
    left: 0;
    line-height: 51px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 57px;
}
.form-fileds {
    background-color: #eee;
    border: medium none;
    border-radius: 50px;
    float: left;
    font-weight: 700;
    height: 56px;
    padding: 0 0 0 67px;
    width: 100%;
}
.executive-login-screen-heading{
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #81b431;
    padding: 25px 10px;
    border-radius:5px 5px 0 0;
}
.executive-login-screen-heading h1{
    display: inline-block;
    margin: 0;
    font-size: 22px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 700;
}
.hr-login-btn {
    background-color: #81b431;
    border: medium none;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    font-size: 22px;
    height: 64px;
    letter-spacing: 1px;
    line-height: 64px;
    padding: 0 25px;
    text-transform: uppercase;
    width: 100%;
}
.login-copyright {
    float: left;
    margin: 20px 0 0;
    text-align: center;
    width: 100%;
}
.login-copyright {
    color: #000;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
}

.hr-box-header {
    background: #eee none repeat scroll 0 0;
    border-radius: 5px 5px 0 0;
    float: left;
    margin: 0;
    overflow: hidden;
    padding: 9px;
    width: 100%;
}
.hr-box-header.hr-box-footer {
    border-radius: 0 0 5px 5px;
}
.table-outer {
    background-color: #e6e6e6;
    border-left: 5px solid #e6e6e6;
    border-right: 5px solid #e6e6e6;
    float: left;
    width: 100%;
}
.hr-promotions {
    background-color: #eee;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    float: left;
    margin: 20px 0;
    padding: 15px;
    width: 100%;
}
.no-data {
    background-color: #f2f7fa;
    border: 1px solid #d9ebf1;
    border-radius: 5px;
    clear: both;
    color: #728d9c;
    font-size: 14px;
    font-weight: 700;
    margin: 20px 0;
    padding: 12px 10px 10px;
    text-align: center;
    display: inline-block;
}
.hr-delete-btn, .hr-edit-btn {
    background-color: #ff6366;
    border: medium none;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    margin: 1px 4px;
    min-width: 60px;
    padding: 5px 10px;
    text-align: center;
}
.hr-edit-btn {
    background-color: #81b431 !important;
    color: #fff !important;
}
.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td {
	vertical-align: middle !important;
}
.information-box {
    float: left;
    margin: 10px 0;
    width: 100%;
}
.information-box .hr-box-header h2,
.hr-box-header h2{
    font-size: 16px;
    font-weight: 700;
    margin: 5px 0 0 0;
    float: left;
    text-transform: uppercase;
}
.info-row {
    float: left;
    padding: 15px 0;
    width: 100%;
}
.info-row ul {
    list-style: outside none none;
    margin: 0;
}
.info-row ul li {
    background-color: #fff;
    border-bottom: 1px solid #e0dfdf;
    float: left;
    padding: 5px;
    position: relative;
    width: 100%;
}
.info-row ul li:last-child {
    border: none;
}
.info-row ul li:nth-child(2n+1) {
    background-color: #f7f7f7;
}
.info-row ul li label {
    float: left;
    margin: 0;
    width: 40%;
}
.info-row ul li .text {
    float: left;
    width: 60%;
}
.table-title-heading {
    float: left;
    width: 100%;
    border-bottom: 2px solid #81b431;
    margin: 15px 00;
    color: #81b431;
}
.table-title-heading h1{
    font-size: 20px;
    font-weight: 600;
    color: #81b431;
}
.keep-me-loggedin{
    float: left;
    width: auto;
}
.forgot-password{
    float: right;
    width: auto;
}
.forgot-password a{
    text-decoration: underline;
    font-size: 13px;
    color: #000;
    font-style: italic;
}
.flash-message{
    float: left;
    width: 100%;
}
.error_message {
    color: #ff0000;
    display: inline-block;
    overflow: hidden;
    padding: 5px 0 0 10px;
}
.error {
    color: #ff0000;
    display: inline-block;
    width: 100%;
    font-weight: normal;
    border-color: #ff0000;
}
.error_message i {
    font-size: 18px;
    margin: 0 5px 0 0;
}
.footer {
	background:#000;
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
}
.copyright{
	display: table;
	height: 100px;
}
.copy-right-text {
	display: table-row;
}
.copy-right-text p {
    color: #fff;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}
.copy-right-text a {
    color: #fff;
    margin-top: 25px;
    display: inline-block;
}
.copy-right-text a img {
    width: 40%;
    vertical-align: middle;
}
.scrollable-area {
    float: left;
    /*height: 100%;*/
    max-height: 500px;
    overflow-y: auto;
    width: 100%;
}
.dotted-border {
    border-bottom: 1px dotted #a1a1a1;
    padding: 5px 0;
}
.Paid, .Unpaid {
    font-size: 16px;
    font-weight: 700;
}
.paid, .Paid {
    color: #81b431;
}
.unpaid, .Unpaid {
    color: red;
}
.autoheight{
    height: auto;
}
.auto-lineheight{
    line-height: normal;
}
.disabled-btn, .disabled-btn:hover {
    background-color: #ccc !important;
    color: #606060 !important;
    cursor: not-allowed !important;
}
.item-name-summary li {
    padding: 5px 0;
    list-style: none;
}
.table-striped tbody tr:nth-of-type(2n+2){
    background-color: #fff;
}
.heading-title .page-title {
    float: left;
}
.black-btn {
    background-color: #000;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 0 5px;
    padding: 4px 10px;
}
.table-custom{}
.add-new-company{}
.not_contacted {
    color: rgb(82, 82, 82);
}
.contacted{
    color: rgb(0, 165, 133);
}
.responded{
    color: rgb(226, 103, 0);
}
.qualifying{
    color: rgb(0, 138, 163);
}
.submitted{
    color: rgb(121, 112, 89);
}
.interviewing{
    color: rgb(144, 4, 213);
}
.offered{
    color: rgb(210, 52, 82);
}
.notin{
    color: rgb(168, 23, 161);
}
.decline{
    color: rgb(211, 0, 0);
}
.placed{
    color: rgb(77, 160, 0);
}
.future_opportunity {
    color: #00008B;
}
.left_message{
    color: #B2B200;
}
.status_not_found{
    background-color: rgb(204, 204, 255);
    color: rgb(96, 96, 96) !important;

}




.hr-search-criteria{
    float: left;
    width: 100%;
    cursor: pointer;
    margin: 20px 0;
    background-color: #81b431;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    position: relative;
    text-transform: capitalize;
}
.hr-search-criteria:before{
    content: '';
    position: absolute;
    top: 15px;
    right: 13px;
    width: 10px;
    height: 10px;
    background: url(../images/menu_closed.png) no-repeat;
}
.hr-search-criteria.opened:before{
    content: '';
    position: absolute;
    top: 15px;
    right: 13px;
    width: 10px;
    height: 10px;
    background: url(../images/menu_opened.png) no-repeat;
}
.hr-search-criteria i{
    font-size: 25px;
    position: absolute;
    top: 8px;
    right: 10px;
}
.hr-icon-box{
    float: right;
}
.hr-search-main{
    float: left;
    width: 100%;
    display: none;
    margin: 0 0 30px 0;
    background-color: #fafafa;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
}
.display-block{
    display: block !important;
}
.hr-search-main form{
    float: left;
    width: 100%;
}
.hr-search-main form ul{
    margin-bottom: 0;
}
.hr-search-main form ul li{
    /*float: left;
    width: 100%;*/
    margin: 0 0 10px 0;
    list-style: none;
}
.hr-search-main form ul li:last-child{
    margin: 30px 0 0 0;
    text-align: center;
}
.search-btn{
    background: #81b431;
    border:none;
    border-radius: 5px;
    color: #fff;
    padding: 5px 20px;
    display: inline-block;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    min-width: 150px;
}

.search-btn-red{
    background: #ff6366;
}

.hr-search-main form ul li label{
    float: left;
    width: 20%;
    margin: 10px 0 0 0;
}
.hr-fields-wrap{
    float: right;
    width: 78%;
}
.hr-form-fileds{
    background-color: #eee;
    border: none;
    border-radius: 5px;
    float: left;
    font-weight: 400;
    height: 40px;
    padding: 0 10px;
    width: 100%;
    border: 1px solid #ccc;
}
.hr-search-main .hr-form-fileds{
    float: left;
    width: 50%;
}
.hr-register-date{
    float: left;
    width: 50%;
}
.hr-register-date .hr-form-fileds{
    width: 80%;
}
.hr-register-date .ui-datepicker-trigger{
    background: no-repeat;
    border:none;
    margin: 7px;
}
.hr-register-date .ui-datepicker-trigger i{
    font-size: 25px;
    color: #666;
}
.hr-box-header {
    float: left;
    width: 100%;
    background: #eee;
    border-radius: 5px 5px 0 0;
    margin: 0;
    overflow: hidden;
    padding: 9px;
}
.hr-box-header.hr-box-footer{
    border-radius: 0 0 5px 5px;
}
.hr-pagination{
    float: right;
}
.hr-pagination ul{
    float: right;
}
.hr-pagination ul li{
    float:left;
    list-style: none;
    margin: 0 2px;
}
.hr-pagination ul li.prev.btn a,
.hr-pagination ul li.next-btn a{
    color: #fff;
    background-color: #ff5858;
}
.hr-pagination ul li a{
    float:left;
    min-width: 30px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    font-size:14px;
    position:relative;
    font-weight: 700;
    border-radius: 3px;
    background-color: #81b431;
    padding: 0 5px;
}
.hr-pagination ul li.active a{
    background-color: #000;
}
.invoice-fields{
    float: left;
    width: 100%;
    height: 40px;
    border:1px solid #ccc;
    border-radius: 5px;
    color: #000;
    padding: 0 5px;
    background-color: #eee;
}
.invoice-fields option{
    padding: 0 5px;
}
.hr-select-dropdown{
    position: relative;
    float: left;
    width: 100%;
    height: 40px;
}
.hr-select-dropdown select{
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}
.hr-select-dropdown:after{
    content: "\f107";
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 40px;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    font-family: 'FontAwesome';
    text-align: center;
    line-height: 40px;
    pointer-events: none;
}
.field-row{
    float: left;
    width: 100%;
    margin: 10px 0;
    height: 64px;
}
.field-row-autoheight{
    height: auto;
}
.transparent-label {
    color: transparent;
    opacity: 0;
}
.valign-middle {
    line-height: 40px;
    margin: 0 !important;
}
.bt-panel {
    float: left;
    margin: 15px 0;
    text-align: right;
    width: 100%;
}
.bt-panel form {
    float: right;
    margin: 0 0 0 5px;
    position: relative;
}
.hr-box {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 6px #ccc;
    margin: 10px 0;
    padding: 0;
    clear: both;
    float: left;
    width: 100%;
}
.hr-box-header {
    float: left;
    width: 100%;
    background: #eee;
    border-radius: 5px 5px 0 0;
    margin: 0;
    overflow: hidden;
    padding: 9px;
}
.hr-innerpadding {
    float: left;
    padding: 10px;
    width: 100%;
}
.hr-innerpadding table {
    margin-bottom: 0;
}
.hr-box table th {
    background: #ededed;
}
.bg-header-green {
    background-color: #81b431;
}
.bg-header-green .text-success, 
.bg-header-green .hr-registered, 
.bg-header-green div {
    color: #fff;
} 
h1.hr-registered{
    color: #000;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}
.btn {
    font-weight: 600 !important;
}
.btn-success {
    background-color: #81b431 !important;
}
.btn-success {
    background-color: #81b431 !important;
    border-color: #81b431 !important;
}
.btn-success:hover{
    background-color: #518401 !important;
}
.active, .Active {
    color: #81b431;
}
.inactive, .Inactive {
    color: red;
}
.month-name {
    background-color: #f3f3f3;
    border-radius: 5px 0 0 5px;
    float: left;
    padding: 15px;
    text-transform: capitalize;
    width: 100%;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    font-style:italic;
}
.month-name:after{
    content: "";
    position: absolute;
    top: 50%;
    right: -5px;
    width: 20px;
    height: 20px;
    background-color: #f3f3f3;
    transform: rotate(45deg);
    margin-top: -10px;
}
.job-per-month-row{
    margin-bottom: 20px;
}
.job-per-month-row .hr-box{
    margin: 0;
}
label .hr-required {
    font-weight: normal;
}
.hr-required {
    color: red;
}
.applicant-count {
    float: left;
    padding: 5px 10px;
    text-align: center;
    width: 100%;
}
.applicant-count p, .applicant-count span {
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin: 2px 0;
    width: 100%;
}
.field-row .btn-equalizer {
    padding: 8px 12px;
}
.horizontal-scroll{
    max-width: 1800px !important;
    width: 1800px !important;
}

.demo-btn-wrp{
    float: left;
    width: 100%;
    padding: 30px 0 0 0;
    background: url(../images/demo-btn-bg.jpg) no-repeat center center;
    background-size: cover;
}
.demo-btn-box {
    float: left;
    text-align: center;
    width: 100%;
}
.demo-btn-box h2 {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 20px;
    text-transform: uppercase;
}
.demo-link-wrp{
    display: inline-block;
    width: 100%;
    margin: 0 0 25px 0;
}
.demo-link-wrp a {
    background-color: #ff6600;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 21px;
    font-weight: 600;
    padding: 8px 20px;
    position: relative;
}
.demo-link-wrp a i{
    background-color: transparent;
    border-radius: 50px;
    display: inline-block;
    height: 47px;
    left: 15px;
    line-height: 43px;
    position: absolute;
    top: 50%;
    width: 47px;
    border: 1px solid #D8533D;
    transform: translateY(-50%);
}
.demo-link-wrp a.demo-link{
    padding: 8px 15px 8px 52px;
    border-radius: 50px 10px 10px 50px;
}
.demo-btn-box p{
    display: inline-block;
    width: 100%;
    margin: 5px 0 30px 0;
}
.address-panel ul li {
    float: left;
    font-weight: 600;
    list-style: outside none none;
    margin: 5px 0;
    width: 100%;
    font-weight: 900;
    font-size: 18px;
}
.address-panel ul li a {
    color: #252525;
}
.address-panel .row, .address-panel {
    text-align: center;
}
.address-panel h5 {
    color: #0000FF;
    float: left;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    margin: 0 0 15px;
    text-transform: capitalize;
    width: 100%;
}
.address-panel ul li i {
    color: #252525;
    margin: 0 10px 0 0;
}
.wrapper .selectize-input{
    padding: 10px 8px;
    background-color: #eee !important;
    border-color: #ccc !important;
    box-shadow: none !important;
}
.selectize-dropdown-content .option.active{
    background-color: #81b431;
    color: #fff;
}
/* Responsive Stuff Start
==========================================================================================*/
@media (min-width:768px) and (max-width:1024px){
	.month-name {
	    border-radius: 5px 5px 0 0;
	    font-weight: 600;
	    margin: 0 0 25px;
	    text-align: center;
	}
	.month-name:after {
	    bottom: -10px;
	    margin-right: -10px;
	    right: 50%;
	    top: auto;
	}
}
@media (max-width:767px){
	.field-row {
	    margin: 7px 0;
	}
	.field-row {
	    height: auto;
	}
	.valign-middle {
	    line-height: normal;
	    margin: 0 0 5px !important;
	}
	.transparent-label {
	    display: none;
	}
	.table-responsive > .table-bordered {
	    border: 1px solid #ddd !important;
	}
	.table-responsive{
		border:none !important;
		margin: 0 !important;
	}
	.heading-title {
	    text-align: center;
	}
	.heading-title .page-title,
	.heading-title .black-btn {
	    display: inline-block;
	    float: none !important;
	    margin: 5px 0;
	}
	.logo, .topRight {
	    text-align: center;
	    width: 100%;
	}
	.month-name {
	    border-radius: 5px 5px 0 0;
	    font-weight: 600;
	    margin: 0 0 25px;
	    text-align: center;
	}
	.month-name:after {
	    bottom: -10px;
	    margin-right: -10px;
	    right: 50%;
	    top: auto;
	}
}
@media (max-width:480px){

}


.signature-field{
    height: 100px;
    width: 100%;
    border:1px dashed #ddd;
    border-radius: 5px;
    padding: 0 5px !important;
    font-size: 30px !important;
    font-weight: bold;
    font-family: 'Conv_SCRIPTIN';
    word-spacing: 15px;
    letter-spacing: 5px;
}
.signature-label {
    line-height: 80px;
}




.contacts_label{
    font-family: arial;
    color: white;
    font-weight: bold;
    padding: 5px;
    font-size: 13px;
    margin-bottom: 3px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.contacted{
    background-color: rgb(0, 165, 133);
}
.responded{
    background-color: rgb(226, 103, 0);
}
.qualifying{
    background-color: rgb(0, 138, 163);
}
.submitted{
    background-color: rgb(121, 112, 89);
}
.Interviewing{
    background-color: rgb(144, 4, 213);
}
.offered{
    background-color: rgb(210, 52, 82);
}
.notin{
    background-color: rgb(168, 23, 161);
}
.decline{
    background-color: rgb(211, 0, 0);
}
.placed{
    background-color: rgb(77, 160, 0);
}
.not_contacted{
    background-color: rgb(82, 82, 82);
}

.future_opportunity {
    background-color: #00008B;
}

.left_message{
    background-color: #B2B200;
}

.emp-info-strip{
    float: left;
    width: 100%;
    padding: 20px 0;
    position: relative;
    background: url(../images/ap-bg.jpg);
    border-bottom:2px dotted #ababab;
    margin: 0 0 20px 0;
}
.emp-info-box{
    float: left;
    width: 100%;
    position: relative;
}
.emp-info-box .figure{
    float: left;
    width: 190px;
    height: 143px;
    position: relative;
    /*background-color: #0061a4;*/
    text-align: center;
    padding: 15px;
}
.emp-info-box .figure img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 85%;
    height: 85%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.emp-info-box .figure span{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: #fff;
    width: 100%;
    height: 100%;
    line-height: 140px;
    background-color: #81b431;
    text-transform: uppercase;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.emp-info-box .text{
    margin: 0 0 0 210px;
}
.emp-info-box .text h3{
    margin: 0 0 10px 0;
}
.emp-info-box .text h3 span{
    font-size: 14px;
    padding: 5px 10px;
    background-color: #c03b3b;
    color: #fff;
    text-transform: capitalize;
    line-height: normal;
}
.contact-info {
    list-style: none;
    margin: 25px 0 0 0;
}
.btn-link-wrp {
    position: absolute;
    bottom: 0;
    right: 0;
}
.btn-link-wrp a {
    text-transform: capitalize;
    color: #000;
    font-size: 20px;
}
.upload-file{
    float: left;
    width: 100%;
    position: relative;
}
.upload-file input[type="file"],
.upload-file a{
    position: absolute;
    top: 0;
    right: 0;
    width: 104px;
    height: 32px;
    background: #81b431;
}
.upload-file input[type="file"]{
    opacity: 0;
    z-index: 99;
    cursor: pointer;
}
.upload-file a{
    color: #fff;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    line-height: 31px;
}
.selected-file{
    float: left;
    margin: 1px 0 0 0;
}
.btn-info {
    color: #fff;
    background-color: #81b431;
    border-color: #81b431;
}
.btn-black{
    background-color: #4e4e4e;
    color: #fff !important;
}
.btn-black:hover{
    background-color: #000;
}
.pass0, .pass1 {
    float: left;
    width: 20%;
    height: 8px;
    margin: 0 5px;
}
.strength0 {
    width: 215px;
    background: #e6e6e6;
}
.strength1 {
    width: 215px;
    background: #ff0000;
}
.strength2 {
    width: 215px;
    background: #ff5f5f;
}
.strength3 {
    width: 215px;
    background: #56e500;
}
.strength4 {
    background: #4dcd00;
    width: 215px;
}
.strength5{
    background:#399800;
    width:250px;
}
#passwordStrength {
    height: 8px;
    float: left;
}
.password-trength-wrp {
    float: left;
    width: 100%;
    padding: 15px 0 0 30px;
}
.passwordDescription {
    float: right;
    font-size: 12px;
    position: relative;
    top: -5px;
    color: #000;
    font-weight: 600;
    text-transform: capitalize;
}
/*========Custom Checkbox and radio buttom style=================*/

.control {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 14px;
  width: auto !important;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #81b431;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #81b431;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}

/*========Custom Checkbox and radio buttom style End=================*/
/*=========== From Style Start ===========*/
.form-wrp{
    display: inline-block;
    width: 100%;
}
.form-wrp .form-group {
    float: left;
    width: 100%;
    height: 85px;
}
.form-wrp .hr-innerpadding{
    padding: 15px;
}
.bg-gray{
    padding: 10px 0 5px 0;
    background-color: #dedede;
    margin: 0 0 10px 0;
}
.form-wrp .form-control {
    border-radius: 0;
    box-shadow: none !important;
    height: 50px;
    font-weight: 600;
    border: 2px solid #aaa;
    background-color: #f7f7f7;
}
.form-wrp .form-control:focus{
    border: 2px solid #aaa;
}

.form-wrp .form-control.datepicker {
    padding: 6px 12px;
}

.form-control.error {
    color: #D8000C;
    border-color: #D8000C;
}
.form-wrp .form-group label {
    font-size: 14px;
    font-weight: 600;
    color: #000;
    margin: 0;
    text-transform: capitalize;
}
.form-wrp .form-group label.error {
    color: #D8000C;
    font-weight: normal;
    font-size: 14px;
    line-height: 12px;
    margin: 4px 0 0 0;
    float: left;
    width: 100%;
}

.select {
    position: relative;
    float: left;
    width: 100%;
}

.select:after {
    content: "";
    position: absolute;
    top: 3px;
    right: 5px;
    width: 25px;
    height: 45px;
    pointer-events: none;
    background: url("../images/select-arrow.png") #f7f7f7 no-repeat center;
}

.select select.form-control {
    padding-right: 29px;
}

.form-wrp select.form-control {
    background-color: #f7f7f7 !important;
    outline: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-wrp select.form-control:focus {
    outline: none !important;
}

.form-wrp select.form-control option {
    padding: 5px 12px;
}

span.required {
    color: #db0000;
}

.form-wrp .form-group.autoheight {
    height: auto;
}

.form-control.textarea {
    height: 150px !important;
}

.form-control.autoheight {
    height: auto;
}
.form-wrp .form-control.bg-white,
.form-wrp select.form-control.bg-white{
    background-color: #fff !important;
    color: #000;
}
.form-wrp .btn.btn-equalizer {
    padding: 14px 12px;
    margin: 0;
    border-radius: 0;
}
.form-wrp .form-group .selected-file{
    margin: 7px 0 0 0;
}

.choose-file-wrp {
    position: relative;
}
.choose-file-wrp label.error {
    position: absolute;
    top: 100%;
    left: 0;
}
.bootstrap-filestyle.input-group {
    border: 2px solid #aaa;
}
.bootstrap-filestyle.input-group .form-control {
    border: none;
    background-color: #f7f7f7 !important;
}
.group-span-filestyle label.btn{
    margin: 0;
    padding: 14px 12px;
    border:none;
    border-radius: 0;
    color: #fff !important;
}
/*=========== From Style End ===========*/
.chosen-container{
    width: 100% !important;
}
.universal-form-style-v2 .chosen-container-multi .chosen-choices{
    height: auto !important;
    min-height: 46px !important;
}
.multiselect-init .chosen-container-multi .chosen-choices li span{
    height: auto;
    width: auto;
    padding: 0;
    border-right: 0;
}
.multiselect-init .chosen-container-multi .chosen-choices li span:after{
    display: none;
}
.multiselect-init .chosen-container-multi .chosen-choices{
    background-color: #eee;
    border:1px solid #ccc;
    border-radius: 5px;
    min-height: 40px;
    overflow: visible;
    float: left;
    width: 100%;
    height: auto !important;
}
.universal-form-style-v2 .chosen-container-single .chosen-single{
    height: 50px;
    background:#f7f7f7;
    border: 2px solid #aaa;
    border-radius: 0;
    font-weight: 600;
    box-shadow: none;
}
.universal-form-style-v2 .chosen-container-single .chosen-single span{
    height: 48px;
    line-height: 48px;
}
.universal-form-style-v2 .chosen-container-single .chosen-single div b {
  background: url('chosen-sprite.png') no-repeat 0px 13px;
}
.universal-form-style-v2 .chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 13px;
}
.universal-form-style-v2 .chosen-container-active.chosen-with-drop .chosen-single{
    background:#f7f7f7;
    border: 2px solid #aaa;
}



/*=========== Bootstrap Filestyle Start ===========*/
.choose-file-wrp {
    position: relative;
}

.choose-file-wrp label.error {
    position: absolute;
    top: 100%;
    left: 0;
}

.bootstrap-filestyle .btn {
    border-radius: 0 !important;
    color: #fff !important;
}

.bootstrap-filestyle.input-group {
    border: 2px solid #aaa;
    background-color: #f7f7f7;
}

.bootstrap-filestyle.input-group .form-control {
    border: none;
}
.form-wrp .bootstrap-filestyle .form-control{
    height: 46px;
}
.form-wrp .bootstrap-filestyle .group-span-filestyle label.btn{
    padding: 12px;
}
/*=========== Bootstrap Select Style Start ===========*/

.company-name{
    margin: 5px 0;
}
.full-width{
    float: left;
    width: 100%;
}
.btn-msg-actions{
    position: relative;
}
.icon-msg-new{
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.more-less {
    float: right;
}
.panel-group .panel-heading{
    padding: 0;
}
.panel-group .panel-heading .panel-title a{
    padding: 10px 15px;
    display: block;
}
.panel-group-green .panel-success .panel-heading {
    color: #fff;
    background-color: #81b431;
    border-color: #81b431;
}
.panel-group-green .panel-success {
    border-color: #81b431;
}
.form-group .cke{
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.select-msg-receiver .form-group {
    margin: 0 !important;
    border-right: 1px solid #ccc9c9;
    padding: 4px;
}
.select-msg-receiver .form-group label{
    margin: 0;
}
.select-msg-receiver .control__indicator{
    background: #bfbfbf;
}
.select-msg-receiver .form-group.no-border-right{
    border-right: none;
}

.nav-tabs.nav-justified.doc_assign_nav_tab li a {
    border: 1px solid #ddd;
    border-radius: 0;
    color: #000;
    font-weight: 700;
}
.nav-tabs.nav-justified.doc_assign_nav_tab li:first-child a{
    border-right: none;
}
.nav-tabs.nav-justified.doc_assign_nav_tab li.active a{
    color: #fff;
    background: #81b431 !important;
}
.hr-documents-tab-content.tab-content {
    border: 1px solid #ddd;
    float: left;
    width: 100%;
    border-top: none;
    margin-bottom: 20px;
}
.img-inlineblock {
    display: inline-block !important;
}






.signature-variations .control {
    font-size: 20px;
  }
  .signature-variations .control .control__indicator {
    top: 9px;
  }
  .e_signature_font_family_1 {
    font-family: "Conv_SCRIPTIN";
    letter-spacing: 5px;
    word-spacing: 8px;
    font-weight: bold;
  }
  .e_signature_font_family_2 {
    font-family: "Herr Von Muellerhoff", cursive;
    word-spacing: 8px;
    font-size: 28px;
    font-weight: bold;
  }
  .e_signature_font_family_3 {
    font-family: "Alex Brush", cursive;
    word-spacing: 8px;
    font-size: 28px;
    font-weight: bold;
  }
  .e_signature_font_family_4 {
    font-family: "Sacramento", cursive;
    word-spacing: 8px;
    font-size: 28px;
    font-weight: bold;
  }
  .e_signature_font_family_5 {
    font-family: "Great Vibes", cursive;
    word-spacing: 8px;
    font-size: 28px;
    font-weight: bold;
  }
  .e_signature_font_family_6 {
    font-family: "Sofia", cursive;
    word-spacing: 8px;
    font-size: 28px;
  }
  .e_signature_font_family_7 {
    font-family: "Lobster", cursive;
    word-spacing: 8px;
    font-weight: bold;
    font-size: 28px;
  }
  .e_signature_font_family_8 {
    font-family: "Pacifico", cursive;
    word-spacing: 8px;
    font-weight: bold;
    font-size: 28px;
  }
  .e_signature_font_family_9 {
    font-family: "Vibur", cursive;
    word-spacing: 8px;
    font-size: 28px;
  }
  .e_signature_font_family_11 {
    font-family: "Galada", cursive;
    word-spacing: 8px;
    font-size: 28px;
  }
  .e_signature_control__indicator {
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #c6c6c6;
    border-radius: 3px;
  }
  .e_signature_type_fixed_p {
    height: 48px !important;
    padding-left: 16px;
    padding-right: 16px;
    display: inline-block;
  }

  .red-paragragh {
    font-style: italic;
    color: #cc0000;
  }

  .file-loader,
    .my_loader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
    }

    .loader-icon-box {
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        z-index: 9999;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .loader-icon-box i {
        font-size: 14em;
        color: #81b431;
    }

    .loader-text {
        display: inline-block;
        padding: 10px;
        color: #000;
        background-color: #fff;
        border-radius: 5px;
        text-align: center;
        font-weight: 600;
    } 

    body .alertify .ajs-header {
        background-color: #81b431;
        color: #fff;
    }
    
    body .alertify .ajs-commands button.ajs-close {
        background-color: #fff;
        border-radius: 100%;
    }


    .signature-canvas {
        border: 1px dashed #666;
        border-radius: 5px;
    }


    .wrapper-outer .btn-danger {
        background-color: #c10000;
    }
    .wrapper-outer .btn {
        border-radius: 0;
        text-transform: capitalize;
        border: none;
        transition: all 0.3s ease-in 0s;
        -webkit-transition: all 0.3s ease-in 0s;
        -moz-transition: all 0.3s ease-in 0s;
        -ms-transition: all 0.3s ease-in 0s;
        -o-transition: all 0.3s ease-in 0s;
    }

.del-signature {
    position: absolute;
    top: 14px;
    left: 17px;
}
    

.btn-sm, .btn-group-sm > .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.dn {
    display: none;
}

.orange-btn {
    background-color: #fd7a2a;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 0 5px;
    padding: 4px 10px;
}

.p0 {
    padding: 0px !important;
}

.report-btns {
    float: left;
    margin: 10px 0;
    width: 100%;
}

.form-btn {
    float: right;
    width: 100%;
    background-color: #81b431;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    border: none;
    padding: 9px 5px;
    border-radius: 5px;
    text-align: center;
}

.margin-top {
    margin-top: 20px !important;
}