@media (max-width:1200px){
	
}
/* iphone 5 Landscape
==========================================================================================*/
@media (max-width:767px){
	.container{
		width: 100%;
	}
	nav.navigation{
		margin: 25px 0;
		border:2px solid #4c840e;
	}
	.logo,
	nav.navigation ul, 
	nav.navigation ul li{
		width: 100%;
		text-align: center;
	}
	ul.tabs li{
		width: 100%;
		margin: 5px 0;
	}	
	.top-title-area h2,
	.login-area h1{
		font-size: 22px;
	}
	.middle-text-area{
		padding: 15px;
	}
	ul.tabs li:after{
		display: none;
	}
	ul.tabs li:first-child{
	    border-radius: 0;
	}
} 


/* iphone 4 landscape
==========================================================================================*/
@media (max-width:480px){
	.container{
		width: 100%;
	}
	.submit-btn{
		font-size: 12px;
	}
	.login-area .btn-panel{
		margin-top: 15px;
	}
}

