.cs-prpage {
  position: relative;
  margin-top: 30px;
}

.cs-prpage .cs-loader {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  min-height: 200px;
}

.cs-prpage .cs-loader i {
  position: relative;
  font-size: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #81b431;
}

.cs-required {
  color: #cc1100 !important;
  font-weight: bold;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #aaa !important;
  background-color: #fff !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 8px !important;
  padding-right: 20px !important;
}

.cs-hider {
  display: none;
}

.cs-m5 {
  margin-top: 5px;
}

.cs-list-group-item {
  float: left;
  width: 32%;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
  min-height: 100px;
}
.cs-list-group-item.active {
  background: rgba(129 180 49, 0.5) !important;
}
.cs-list-group-item span {
  display: block;
  transform: translate(0%, 110%);
}

.cs-question-row{
  margin-bottom: 10px;
}

.cs-rating-box,
.cs-rating-text-box {
  border: 1px solid #ccc;
  margin-right: 5px;
  text-align: center;
  height: 80px;
  cursor: pointer;
  background-color: #eee;
}

.cs-rating-box {
  line-height: 80px;
}
.cs-rating-btn.active {
  background-color: #81b431;
  color: #fff;
}


.main .cs-rating-btn.active {
  background-color: #3554dc;
  color: #fff;
}

.cs-rating-box p {
  font-weight: bold;
}
.cs-rating-box p:nth-child(1) {
  font-size: 25px;
}
.cs-rating-text-box p:nth-child(1) {
  margin-top: 10px;
  font-size: 22px;
  font-weight: bold;
}

.cs-progress-bar{ margin-bottom: 0; height: 25px;}
.cs-progress-bar .progress-bar{ background-color: #81b431; line-height: 25px;}

@media only screen and (max-width: 600px) {
  .cs-list-group-item { width: 100%; }
}