<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/style-tabs.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="css/responsive.css">
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/functions.js"></script>
</head>
<body class="login-page">
	<!-- Wrapper Start -->
	<div class="wrapper">
		<div class="top-title-area">
        	<h2>Welcome to AutomotoHR</h2>
        	<p>Congrats, you ‘ve been sent an offer! Create an account to view it.</p>
        </div>
        <div class="clear"></div>
		<!-- Login Area Start -->	
		<div class="login-area">
			<h1>Create An Account</h1>
			<div class="universal-form-style">
				<ul>
					<form>
						<li>
							<label>Personal Email<span class="staric">*</span></label>
							<input class="form-filed readonly-field" type="email" placeholder="skylar+1476@automotohr.com" readonly>
						</li>
						<li>
							<label>User Name<span class="staric">*</span></label>
							<input class="form-filed" type="text">
						</li>
						<li>
							<label>Create Password<span class="staric">*</span></label>
							<input class="form-filed" type="password">
						</li>
						<li>
							<label>Confirm Password<span class="staric">*</span></label>
							<input class="form-filed" type="password">
						</li>
						<li class="autoheight">
							<div class="checkbox-field">
                                <figure>
                                    <input type="checkbox" value="" name="" id="agree-with">
                                </figure>
                                <div class="text">
                                   <label for="agree-with"> I agree with<a href="javascript:;">AutomotoHR Terms</a> &<a href="javascript:;">Privacy Policy</a>.</label> 
                                </div>
                            </div>
						</li>
						<li class="autoheight">
							<div class="btn-panel">
								<input type="submit" value="Create Account & View Offer" class="submit-btn">
							</div>
						</li>
					</form>
				</ul>
			</div>
            <div class="clear"></div>
		</div>
		<!-- Login Area End -->
		<div class="clear"></div>
	</div>
	<!-- Wrapper End -->
</body>
</html>
