/**
* App 2022 theme
* @version 1.0
**/

/* NavBar */
._csPageNavBarRow{
    background-color: #fff;
    border-top: 1px solid #eee;
}
._csPageNavBarRow ul{
    list-style: none;
    margin: 10px 0;
}
._csPageNavBarRow ul li{
    display: inline-block;
    padding: 0 10px;
}
._csPageNavBarRow ul li a{
    display: block;
    color: #000;
    font-size: 14px;
}
._csPageNavBarRow ul li a i{
    margin-right: 5px;
}
._csPageNavBarRow ul li:hover > 
a{
    color: #fd7a2a;
}
._csPageNavBarRow ul li > 
a.active{
    color: #fd7a2a;
    font-weight: 600;
}

/* Sidebar */
._csSideBar{
    border: 1px solid #eee;
    background-color: #eee;
}
._csSideBar img{
    width: 100%;
}
._csSideBar ul{
    list-style: none;

}
._csSideBar .csProfileArea ._csPa{
    top: 10px;
    right: 10px;
}
._csSideBar .csProfileArea ._csPa.csBackdrop{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
}

/* Page Box */
.csPageBox{
    border: 1px solid #ccc;
    padding: 10px;
}

/* csPageSideBar */
.csPageSideBar{
    background-color: #fff;
    border: 1px solid #ccc;
}

/*  */
.csESBox{}
.csESBox.active{
    border: 1px solid #fd7a2a !important;
}

/****************** theme ******************/

body{
    background-color: #eee;
}

._csPage {
    min-height: 600px;
}

._csPage button,
._csPage a,
._csPage ul li {
    transition: all .2s ease-in-out !important;
}

/* Colors */
._csF1{ color: #000 !important; }
._csF2{ color: #fff !important; }
._csF3{ color: #3554dc !important; }
._csF4{ color: #fd7a2a  !important; }
._csF5{ color: #81b431  !important; }
._csF6{ color: #eee  !important; }
._csF7{ color: #999  !important; }

/* Backgrounds */
._csB1{ background: #000 !important; }
._csB2{ background: #fff !important; }
._csB3{ background: #3554dc !important; }
._csB4{ background: #fd7a2a  !important; }
._csB5{ background: #81b431  !important; }
._csB6{ background: #eee  !important; }
/* Hovers */
._csB1:hover{ background: #000 !important; }
._csB2:hover{ background: #fff !important; }
._csB3:hover{ background: #3554dc !important; }
._csB4:hover{ background: #fd7a2a  !important; }
._csB5:hover{ background: #81b431  !important; }

/* Borders */
._csBDt{ border-top: 1px solid !important; }
._csBD{ border: 1px solid !important; }
/* BorderColors */
._csBD1{ border-color: #000 !important; }
._csBD2{ border-color: #fff !important; }
._csBD3{ border-color: #3554dc !important; }
._csBD4{ border-color: #fd7a2a  !important; }
._csBD5{ border-color: #81b431  !important; }
._csBD6{ border-color: #eee !important; }
._csBD7{ border-color: #ccc !important; }

/* Paddings */
._csP0{ padding: 0px !important; }
._csP5{ padding: 5px !important; }
._csP10{ padding: 10px !important; }
._csP20{ padding: 20px !important; }
._csPt0{ padding-top: 0px !important; }
._csPt10{ padding-top: 10px !important; }
._csPt5{ padding-top: 5px !important; }
._csPt20{ padding-top: 20px !important; }
._csPt30{ padding-top: 30px !important; }
._csPr0{ padding-right: 0px !important; }
._csPr5{ padding-right: 5px !important; }
._csPr10{ padding-right: 10px !important; }
._csPr20{ padding-right: 20px !important; }
._csPb0{ padding-bottom: 0px !important; }
._csPb5{ padding-bottom: 5px !important; }
._csPb10{ padding-bottom: 10px !important; }
._csPb20{ padding-bottom: 20px !important; }
._csPl0{ padding-left: 0px !important; }
._csPl10{ padding-left: 10px !important; }
._csPl20{ padding-left: 20px !important; }

/* Margins */
._csM0{ margin: 0px !important; }
._csM10{ margin: 10px !important; }
._csM20{ margin: 20px !important; }
._csMt0{ margin-top: 0px !important; }
._csMt10{ margin-top: 10px !important; }
._csMt20{ margin-top: 20px !important; }
._csMt30{ margin-top: 30px !important; }
._csMr0{ margin-right: 0px !important; }
._csMr10{ margin-right: 10px !important; }
._csMr20{ margin-right: 20px !important; }
._csMb0{ margin-bottom: 0px !important; }
._csMb10{ margin-bottom: 10px !important; }
._csMb20{ margin-bottom: 20px !important; }
._csMb30{ margin-bottom: 30px !important; }
._csMl0{ margin-left: 0px !important; }
._csMl10{ margin-left: 10px !important; }
._csMl20{ margin-left: 20px !important; }

/* Radius */
._csR5{ border-radius: 5px !important;}

/* Fonts */
._csF14{ font-size: 14px !important;}
._csF16{ font-size: 16px !important;}
._csF18{ font-size: 18px !important;}
._csF20{ font-size: 20px !important;}
._csF22{ font-size: 22px !important;}
._csF24{ font-size: 24px !important;}
._csF26{ font-size: 26px !important;}
._csF28{ font-size: 28px !important;}
._csF30{ font-size: 30px !important;}
._csF40{ font-size: 40px !important;}
._csF60{ font-size: 60px !important;}
._csF70{ font-size: 70px !important;}

/* Positions */
._csPr{ position: relative;}
._csPa{ position: absolute !important;}

/* Positioning */
._csVm{ vertical-align: middle !important;}

/* Page Tabs */
._csPageTabs{
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}
._csPageTabs li{
    display: inline-block;
}
._csPageTabs li a{
    display: block;
    padding: 10px 20px;
    color: #999;
}
._csPageTabs li a.active,
._csPageTabs li a:hover{
    font-weight: 600;
    border-bottom: 3px solid #fd7a2a;
    color: #fd7a2a;
}


/* Steps */
.line {
    border-bottom: 1px solid #fd7a2a;
    padding-bottom: 20px;
    width: 100%;
    left: 15px;
    position: relative;
}

.stepText1 {
    text-align: left;
    left: -15px;
}
.stepText2 {
    text-align: center;
}
.stepText3,
.stepText4 {
    text-align: right;
    right: -15px;
}

.step {
    width: 40px;
    height: 40px;
    border: 1px solid #fd7a2a;
    background: white;
    border-radius: 100px;
    margin-top: 30px;
    transition: 0.4s;
}

.step1 {
    margin-top: -20px;
    float: left;
}

.step2 {
    margin: 0 auto;
    margin-top: -20px;
}

.step3 {
    float: right;
    margin-top: -20px;
}
.step4 {
    float: right;
    margin-top: -20px;
}

._csactive {
    background: #fd7a2a;
}

._csPR{
    position: relative;
}

/* Common loader CSS */

.csIPLoader {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, .9);
    z-index: 3;
}

.csIPLoader>i {
    position: relative;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: #fd7a2a;
    transform: translate(-50%, -50%);
}

.csIPLoader div {
    position: relative;
    top: 100px;
}

.csIPLoader div p {
    color: #333;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}

.csIPLoader div p i {
    font-size: 50px;
    color: #fd7a2a;
}


/*  */
._csImg{
    display: block;
    max-width: 100%;
    margin: auto;
}

._csBox{
    margin-bottom: 20px;
}
/*  */
._csBox:nth-child(even){
    background-color: rgba(0, 0, 0, .1);
}
/*  */
._csHeight100{
    height: 100px !important;
}
/*  */
._csRatingBox{
    margin-left: 5px;
    margin-right: 5px;
}
._csRatingItem{
    display: inline-block;
    width: 20%;
    border: 1px solid #eee;

}




._csInfo {
    color: #b4052c !important;
}

._csPaginationMenu {
    list-style: none;
}

._csPageWrap ul li {
    transition: all .2s ease-in-out;
}

._csPaginationMenu li {
    display: inline-block;
}



/* --- New ---*/


._csPaginationMenu li.active a,
._csPaginationMenu li:hover a {
    background: #fd7a2a;
    color: #fff;
}

._csPaginationMenu li a {
    display: block;
    background: #f1f1f1;
    padding: 10px 20px;
    text-align: center;
    color: #111;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}

/* Rating box New  */
._csRatingBar {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 0px;
    padding-left: 0px;
}


._pr10 {
    padding-right: 10px !important;
}

._pl10 {
    padding-left: 10px !important;
}


._csRatingBar li {
    display: inline-block;
    text-align: center;
    width: 19%;
    background-color: #f2f2f2;
    padding: 10px 0;
    border: 1px solid #ccc;
    cursor: pointer;
}


._csRatingBar li.active {
    background-color: #fd7b5b;
}

._csRatingBar li:not(.active):hover {
    background-color: #fd7b5b;
    color: #fff;
}
._csFloatRight{
    float: right;
}
.csline {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 5px;
    width: 100%;
    left: 0px;
    position: relative;
}  

._csMZ {
    margin: 0 !important;
}   

.dn {
    display: none;
}

._csTA {
    width: 100%;
    height: 30vh !important;
    display: block;
    resize: none;
}

._csTAD {
    width: 100%;
    height: 15vh !important;
    display: block;
    resize: none;
}

._csFb6 {
    font-weight: 600;
}

._csSeparator{
    background-color: #eee;
    height: 1px;
    margin: 5px 0;
}