.caption h3 {
	margin-top: 0px !important;
	color: #fff !important;
}

.caption h4 {
	margin-bottom: 0px !important;
	color: #fff !important;
}

.success-block {
	background: #28a745 !important;
}

.error-block {
	background: #dc3545 !important;
}

.post-block {
	background: #007bff !important;
}

.put-block {
	background: #674ead !important;
}

pre {
	background: #000 !important;
	color: #fff !important;
}

.vam {
	vertical-align: middle !important;
}

.thumbnail {
	border-radius: 5px;
	box-shadow: 0 0 5px 1px #eee;
}

/* Panel */
.csPanelHeading {
	margin-top: 5px;
	font-size: 16px;
}

/* Table */
.table-black thead th:nth-child(1){
	border-radius: 7px 0 0 0;
}
.table-black thead th:last-child{
	border-radius: 0 7px 0 0;
}
.table-black thead th{
	background-color: #000;
	border-color: #000;
	color: #fff;;
}

/*  */
.panel-theme {
	border-radius: 3px;
	border: 0;
	box-shadow: 0 0 10px .5px #ccc;
}
.panel-theme .panel-heading{
	background-color: #fd7a2a;
	color: #fff;
}

/*  */
.btn-black{
	background-color: #000;
	color: #fff;
}
.btn-black:hover,
.btn-black:active{
	background-color: #333;
	color: #fff;
}

.btn-theme{
	background-color: #fd7a2a;
	color: #fff;
}
.btn-theme:hover,
.btn-theme:active{
	background-color: #f58e4e;
	color: #fff;
}

/* Filter */
.csFilterSection{
	position: absolute;
	right: 0;
	top: 0;
	width: 350px;
	z-index: 1;
}
.csFilterSection .panel-body{
	overflow-y: auto;
}