/**
 * Main theme stylesheets
 * @version 1.0
 */

.caption h3 {
	margin-top: 0px !important;
	color: #fff !important;
}

.caption h4 {
	margin-bottom: 0px !important;
	color: #fff !important;
}

.success-block {
	background: #28a745 !important;
}

.error-block {
	background: #dc3545 !important;
}

.post-block {
	background: #007bff !important;
}

.put-block {
	background: #674ead !important;
}

pre {
	background: #000 !important;
	color: #fff !important;
}

.vam {
	vertical-align: middle !important;
}

.thumbnail {
	border-radius: 5px;
	box-shadow: 0 0 5px 1px #eee;
}

/* Panel */
.csPanelHeading {
	margin-top: 5px;
	font-size: 16px;
}

/* Table */
.table-black thead th:nth-child(1) {
	border-radius: 7px 0 0 0;
}
.table-black thead th:last-child {
	border-radius: 0 7px 0 0;
}
.table-black thead th {
	background-color: #000;
	border-color: #000;
	color: #fff;
}

/*  */
.panel-theme {
	border-radius: 3px;
	border: 0;
	box-shadow: 0 0 10px 0.5px #ccc;
}
.panel-theme .panel-heading {
	background-color: #fd7a2a;
	color: #fff;
}

/*  */
.btn-black {
	background-color: #000;
	color: #fff;
}
.btn-black:hover,
.btn-black:active {
	background-color: #333;
	color: #fff;
}

.btn-theme {
	background-color: #fd7a2a;
	color: #fff;
}
.btn-theme:hover,
.btn-theme:active {
	background-color: #f58e4e;
	color: #fff;
}

/* Filter box */
.csFilterSection {
	position: absolute;
	right: 0;
	top: 0;
	width: 350px;
	z-index: 1;
}
.csFilterSection .panel-body {
	overflow-y: auto;
}

@media (max-width: 480px) {
	.csFilterSection {
		width: 100%;
	}
}

/* Select2 multiple */
.select2-container-multi .select2-choices .select2-search-choice {
	background: #fd7a2a !important;
	border-color: #fd7a2a !important;
	color: #fff !important;
}
.select2-search-choice-close {
	color: #fd7a2a !important;
}
.select2-results .select2-highlighted {
	background: #fd7a2a;
	color: #fff;
}

/* TRS */
.csTrOdd td {
	vertical-align: middle;
	background-color: #fff;
}
.csTrEven td {
	vertical-align: middle;
	background-color: #eee;
}

.csTrOdd td.bg-danger,
.csTrEven td.bg-danger {
	background-color: #f2dede;
}
.csTrOdd td.bg-success,
.csTrEven td.bg-success {
	background-color: #dff0d8;
}

.csQuestionBox {
	display: block;
	padding: 20px 10px;
}
.csQuestionBox:nth-child(even) {
	background-color: #f1f1f1 !important;
}
.csQuestionBox:nth-child(odd) {
	background-color: #fff;
}
/* remove Padding */
.csRP {
	padding: 0px;
}

/* remove background color */
.csRBC {
	background-color: #fff !important;
}
/* DatePicker */
.ui-datepicker {
	z-index: 1001 !important;
}

.ui-datepicker-header,
.ui-datepicker-calendar .ui-state-active,
.ui-datepicker-prev:hover,
.ui-datepicker-next:hover,
.ui-datepicker-prev:hover,
.ui-datepicker-next:hover {
	background-color: #f58e4e;
}
.ui-datepicker-calendar .ui-state-active {
	border-color: #f58e4e;
}

.csAssignBlock {
	background-color: #ffc107 !important;
}

.csPendingBlock {
	background-color: #fd7a2a !important;
}

.black-block {
	background-color: #343a40 !important;
}

.article-sec{
	background: rgba(44, 70, 93, 0.05);
	border-radius: 10px;
	padding: 28px 27px;
	overflow-x: auto;
	margin-bottom: 10px;
}

.article-sec h1 {
	font-weight: 600 !important;
	font-size: 18px !important;
}

.csColumSection{
    font-size: 14px;
    color: #F0722D;
}

.ma30 {
	margin-top: 30px !important;
}