@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  font-family: "Sora", "Inter", Tahoma, Geneva, Verdana, sans-serif;
}

main {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

.auto-carousel {
  width: 80%;
}

.auto-mobile-slider-detail-color {
  color: #525252;
}

.auto-d-lg-flex-width {
  width: 50%;
}

.auto-slider-two-background {
  width: 80px;
}

.auto-slider_detail {
  color: #525252;
}

.auto-slider-three-background {
  width: 80px;
}

.auto-video-div {
  margin-top: 100px !important;
}

.auto-right-top-button {
  color: #315eff;
  display: inline-flex;
}

.auto-employee-experience {
  background: #ffb72b;
}

.auto-career-section {
  background-color: #f1f6f9;
}

.auto-z-index {
  z-index: 5;
}

.auto-explore-button {
  display: inline-flex;
}

.auto-white-box {
  color: white;
}

.auto-schedule-btn {
  justify-content: center;
}

.auto-schedule-btn-height {
  height: 120px;
}

.auto-footer-background-color {
  background-color: #315eff;
}

.auto-footer-width {
  max-width: 550px;
}

.auto-footer-button {
  z-index: 10;
  background: white !important;
  color: #315eff;
  width: 290px;
  justify-content: center;
}

.auto-footer-height {
  height: 100%;
}

.footer-auto-logo-heading {
  font-size: 22px;
  font-weight: 600;
}

.footer-auto-logo-gap {
  column-gap: 10px;
}



.auto-youtube-icon {
  color: #ffb72b;
}


.auto-fa-icon-common {
  width: 30px;
  height: 30px;
  border: 1px solid #ffb72b;
  color: #ffb72b;
  margin-right: 5px;
}

.auto-footer-ul {
  list-style-type: none;
}

.auto-footer-h1 {
  font-size: 22px;
  font-weight: 600;
}

.auto-fa-phone {
  width: 30px;
  height: 30px;
  border: 1px solid #ffb72b;
  color: #ffb72b;
}

.auto-technicial {
  font-size: 22px;
  font-weight: 600;
}

.auto-copy-right-common {
  width: 100px;
  height: 100px;
}


.nav-styling {
  height: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 99;
  top: 0px;
  left: 0px;
  background-color: transparent;
  width: 100%;
}

.button {
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.button p,
.button i {
  transition: all .3s ease-in !important;
}

.li-item {
  font-family: Sora;
  font-weight: 500;
  font-size: 20px;
}

.top-navigation-styling {
  column-gap: 50px;
  color: #3D4250;
  list-style-type: none;
}

.section-padding {
  padding: 8% 12%;
}

.opacity-eighty {
  opacity: 80%
}

.opacity-ninety {
  opacity: 90%
}

.light-blue-text {
  width: 70px;
  height: 40px;
  border-radius: 5px;
  opacity: 50%;
  Top: 7032.41px;
  Left: 865.19px;
  background-color: #00C9FF;
  padding: 10px 0px 5px 15px
}

.our-process-text {
  color: #525252
}

.unlock-extraordinary-text {
  color: #3D4250;
  font-weight: 700;
  font-size: 40px;
}

.simple-step-text {
  font-family: Sora;
  font-size: 18px;
  color: #525252
}

.div-content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-below-text {
  font-family: Sora;
  margin-top: 20px;
  font-size: 18px;
  color: #525252;
  font-weight: 600
}

.margin-btm {
  margin-bottom: 30px;
}

.text-right {
  text-align: right;
}

.rotate-img {
  transform: rotate(2.42deg);
  width: 70%;
  border-radius: 33px;
}

.video-div {
  position: relative;
  margin-top: 5rem;
  background-color: #315eff;
}

.blue-background {
  background-color: #315EFF;
}

.no-padding-left {
  padding-left: 0px;
}

.no-padding-right {
  padding-right: 0px;
}

.responsive-video {
  width: 100%;
  height: 100%;
  border-top-right-radius: 109px;
}

.white-area {
  background-color: white;
  height: 97px;
}

.video-text-area {
  width: 100%;

  padding: 80px 68px;
  padding-right: 255px;
  background-image: url("../hassan_component_imgs/elipse-bot-right.png");
  background-position: bottom right;
  background-repeat: no-repeat;
}

.white-text {
  color: #FFFFFF;
}

.yellow-text {
  font-size: 21px;
  font-weight: 700;
  color: #FFB72B
}

.blue-text {
  color: #315EFF
}

.abosulte-div {
  position: absolute;
  top: -58px;
  left: 0;
  width: 44%;
  height: 108%;
}

.section-padding-blue {
  padding: 8% 0% !important
}

.width-85 {
  width: 85%;
}

.relative-video-div {
  position: relative;
  top: 10px;
  left: 20px;
}

.main-template-heading {
  font-family: Sora;
  font-size: 40px;
  font-weight: 700;
  line-height: 58px;


}

.light-blue-span {
  font-family: Sora;
  text-align: center;
  border-radius: 50%;
  padding: 22px;
  position: relative;
  background-color: #00C9FF;
}

.number-span {
  font-weight: 500;
  font-size: 20px;
  color: white;
  position: relative;

}

.second-heading {
  font-family: Sora;
  font-weight: 700;
  font-size: 40px;
}

.detail-text {
  font-size: 18px
}

.sky-blue-text {
  font-family: Sora;
  background-color: #00C9FF;
  border-radius: 5px;

}

.white-boxes {
  background-color: white;
  border-radius: 20px;

  width: 360px;
  background-image: url("../hassan_component_imgs/03.png");
  background-position: bottom right
}

.margin-right-twenty {
  margin-right: 20px;
}

.margin-left-twenty {
  margin-left: 20px !important;
}

.number-three-span {
  background-image: url("../hassan_component_imgs/03.png");
  background-position: bottom right 15px;
  background-repeat: no-repeat;
  background-size: 142px;
}

.number-two-span {
  background-image: url("../hassan_component_imgs/02.png");
  background-position: bottom right 15px;
  background-repeat: no-repeat;
  background-size: 142px;
}

.number-one-span {
  background-image: url("../hassan_component_imgs/01.png");
  background-position: bottom right 15px;
  background-repeat: no-repeat;
  background-size: 120px;
}

.mid-heading {
  font-family: Sora;
  font-size: 24px;
  font-weight: 600;
}

.grey-text {
  color: #525252
}

.third-last-section-background {
  background-image: url("../hassan_component_imgs/elipseblue.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 30%;

}

nav-tabs.nav-tabs-modified .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: white !important;
  background-color: #315EFF !important;
  border-color: #315EFF #315EFF #00C9FF !important;
  border-width: 2px !important;
}

.nav-link.nav-link-modified,
.nav-link.active,
.nav-link:hover {
  color: #00C9FF !important;
}

.nav-tabs.nav-tabs-modified .nav-link:focus,
.nav-tabs .nav-link:hover {

  isolation: isolate !important;
}

.text-bold {
  font-weight: bold;
}

.yellow-half-circle {
  position: absolute;
  top: 36px;
  width: 100px;
  left: -4px;
}

.position-relative {
  position: relative;
}

.red-circle-background-image {
  background-image: url("../hassan_component_imgs/Ellipse\ 7.png");
  background-position: bottom left;
  background-repeat: no-repeat;
}

.light-green-half-circle {
  position: relative;
  bottom: 173px;
  left: 20px;
}

.light-red-circle {
  position: relative;
  width: 100px;
  right: 117px;
  bottom: 36px;
}

.box-shadow {
  box-shadow: 1px 1px 7px 1px lightgrey
}

.margin-bottom-100 {
  margin-bottom: 150px
}

.show-on-mobile {
  display: none;
}

.blue-portion-relative {
  position: relative;
}

.notable-benifits-row {
  margin-bottom: 47px;
}

.box-row-absolute {
  position: absolute;
  bottom: -82px;
  left: 14%;
}

.top-tweleverem-margin {
  margin-top: 12rem
}

.arrow-margin-bottom {
  margin-bottom: 5%
}

.margin-top-five {
  margin-top: 10px
}

.white-box-padding {
  padding: 35px;
}

.margin-left-onmobile {
  margin-left: 0px;
}

.select-box {
  color: #525252 !important
}

.button-height-50 {
  height: 63px;
  font-weight: 500;
  font-size: 21px !important;
}

.button-padding {
  padding-top: 15px;
  padding-left: 27px !important;
  padding-right: 12px !important;
  padding-right: 27px !important;
  padding-bottom: 15px
}

.slider-one-background {
  height: 1080px;
  background-position: right center;
  background-repeat: no-repeat;
  background-image: url("../images/Hero\ Banner.png");
  background-size: cover;
}

.slider-two-background {
  height: 1080px;
  background-position: right center;
  background-repeat: no-repeat;
  background-image: url("../images/Header\ Banner-2.png");
  background-size: cover;
}

.slider-three-background {
  height: 1080px;
  background-position: right center;
  background-repeat: no-repeat;
  background-image: url("../images/Header\ Banner-3.png");
  background-size: cover;
}

.w-70 {
  width: 76%;
}

.yellow-icon-image {
  margin-top: 5px;
  width: 25px;
  height: 25px;
}

.button:hover {
  position: relative;
  transition: transform 5s linear;
}

.solution-btn:hover {
  position: relative;
  transition: transform 5s linear !important;
}

.simple-anchor {
  cursor: pointer;
}

.z-index-one {
  z-index: 1;
}

.top-button:hover .top-button-icon {
  transform: translate(-132px, 0);
}

.schedule-btn:hover .top-button-icon {
  transform: translate(-400px, 0);
}

.solution-btn:hover .top-button-icon {
  transform: translate(-235px, 0);
}

.touch-btn:hover .top-button-icon {
  transform: translate(-200px, 0);
}

.started-button:hover .top-button-icon {
  transform: translate(-132px, 0);
}


.top-button:hover .btn-text {
  transform: translate(30px, 0px) !important;
}

.schedule-btn:hover .btn-text {
  transform: translate(50px, 0px) !important;
}

.touch-btn:hover .btn-text {
  transform: translate(40px, 0px) !important;
}

.solution-btn:hover .btn-text {
  transform: translate(35px, 0px) !important;
}

.started-button:hover .btn-text {
  transform: translate(35px, 0px) !important;
}

.top-button-icon {
  margin-top: 5px;
}

.small-inline-img {
  margin-bottom: 20px
}

.mb-2rem {
  margin-bottom: 2rem;
}

.purple_bubble_div {
  width: 85px;
  height: 85px;
  overflow: hidden;
  rotate: 319deg;
  position: absolute;
  top: 50px;
  left: 575px;
}

.purple_bubble {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #A74FFF;
  margin-top: 53%;
}

.yellow-bubble-div {
  width: 85px;
  height: 85px;
  overflow: hidden;
  rotate: 479deg;
  position: absolute;
  top: 543px;
  right: -98px;
  z-index: 0;
}

.yellow-bubble {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #FFB72B;
  margin-top: 50%;
}

.light-text {
  text-align: right;
  font-size: 112px;
  font-weight: bolder;
  opacity: 0.07;
  font-family: Sora;
}

.slider-detail {
  font-size: 21px;
  font-family: "Inter";
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar-dropdown {
  background-color: transparent !important;
  color: #3D4250 !important;
  font-family: Sora !important;
  font-weight: 500 !important;
  font-size: 20px !important;
  padding: 0px !important;
  border-color: transparent !important;
}

.dropdown-option {
  color: #3D4250 !important;
  padding: 10px 20px;
}

.dropdown-li {
  padding: 10px;
}

@media only screen and (min-width: 500px) and (max-width: 767px) {
  .abosulte-div {
    height: 37%;
    width: 85%;

  }

  .video-div .no-padding-right {
    height: 400px
  }
}

@media screen and (max-width: 767px) {
  .navbar_main {
    position: relative !important;

  }

  .heading-h4-grey {
    background-image: none !important;
    text-align: center;
  }

  .nav-styling {
    position: sticky
  }

  .align-items-start.justify-content-on-desktop {
    align-items: center !important;
  }

  .text-center-onmobile {
    text-align: center;
  }

  .yellow-text {
    font-size: 16px;
  }

  .w-70 {
    width: 100%;
  }

  .mid-heading {
    font-size: 22px;
  }

  .light-blue-span {
    padding: 17px;
  }

  .slider-one-background {
    height: 100%;
    background-image: none;

  }

  .slider-two-background {
    height: 100%;
    background-image: none;

  }

  .slider-three-background {
    height: 100%;
    background-image: none;

  }

  .no-margin-bottom-onmobile {
    margin-bottom: 0px
  }

  .no-padding-onmobile {
    padding-left: 0px !important
  }

  .no-padding-onmobile {
    padding-left: 0px !important
  }

  .margin-left-onmobile {
    margin-left: 20px;
  }

  .white-box-padding {
    padding: 20px;
  }

  .margin-bottom-100 {
    margin-bottom: 50px;
  }

  .section-padding {
    padding: 8% 5%;
  }

  .margin-left-twenty {
    margin-left: 0px !important;
  }

  .btn-mob-center {
    text-align: center;
  }

  .slider_heading.title {
    font-size: 30px !important;
  }

  .slider {

    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .box-shadow {
    box-shadow: none
  }

  .responsive-video {

    border-top-right-radius: 0px;
  }

  .top-tweleverem-margin {
    margin-top: 0px
  }


  .notable-benifits-row {
    margin-bottom: 0px;
    position: static;
  }

  .box-row-absolute {
    position: static;
    bottom: 0px
  }

  .white-boxes {
    width: 100%;
    margin-bottom: 20px
  }

  .our-process-text {
    margin-top: 25px;
  }

  .nav-tabs-modified {
    margin-top: 30px;
  }

  .hide-on-mobile {
    display: none;
  }

  .show-on-mobile {
    display: block;
  }

  .light-green-half-circle {
    display: none;
  }

  .light-red-circle {
    display: none;
  }

  .yellow-half-circle {
    display: none;
  }

  .rotate-img {
    width: 100%;

  }

  .div-two {
    order: 2
  }

  .div-one {
    order: 1
  }

  .video-div .no-padding-right {
    height: 350px
  }

  .second-heading {
    font-size: 25px;
  }

  .detail-text {
    font-family: Sora;
    font-size: 16px
  }

  .mob-exclude {
    display: none;
  }

  .unlock-extraordinary-text {
    font-size: 25px
  }

  .video-text-area {
    padding-right: 0px;
    background-image: url("../hassan_component_imgs/Ellipse\ 4.png");
    padding: 34px
  }

  .abosulte-div {
    height: 30%;
    width: 100%;

  }

}

@media only screen and (min-width: 768px) and (max-width: 820px) {
  .box-shadow {
    box-shadow: none
  }

  .white-boxes {
    width: 197px !important;
  }

  .mid-heading {
    font-size: 18px;
    font-weight: 600;
  }


  .yellow-half-circle {
    position: absolute;
    top: 36px;
    width: 50px;
    left: -4px;
  }

  .light-red-circle {
    position: relative;
    width: 50px;
    right: 67px;
    bottom: 36px;
  }

  .light-green-half-circle {
    position: relative;
    bottom: 83px;
    left: 20px;
    width: 50px;
  }
}

@media only screen and (min-width: 821px) and (max-width: 944px) {
  .box-shadow {
    box-shadow: none
  }

  .white-boxes {
    width: 215px !important;
  }
}

@media only screen and (min-width: 945px) and (max-width: 1024px) {
  .box-shadow {
    box-shadow: none
  }

  .white-boxes {
    width: 242px !important;
  }
}

@media only screen and (min-width: 821px) and (max-width: 1024px) {

  .mid-heading {
    font-size: 20px;
    font-weight: 600;
  }

  .yellow-half-circle {
    position: absolute;
    top: 36px;
    width: 50px;
    left: -4px;
  }

  .light-red-circle {
    position: relative;
    width: 50px;
    right: 67px;
    bottom: 36px;
  }

  .light-green-half-circle {
    position: relative;
    bottom: 83px;
    left: 20px;
    width: 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .light-blue-span {
    padding: 9px;
  }

  .white-box-padding {
    padding: 20px;
  }

  .number-span {
    font-size: 12px;
  }

  .number-one-span {
    background-size: 100px;
  }

  .number-two-span {
    background-size: 110px;
  }

  .number-three-span {
    background-size: 110px;
  }

  .top-tweleverem-margin {
    margin-top: 0px
  }


  .notable-benifits-row {
    margin-bottom: 0px;
    position: static;
  }

  .box-row-absolute {
    position: static;
    bottom: 0px
  }

  .abosulte-div {
    position: absolute;
    top: -60px;
    left: 0;
    width: 44%;
    height: 107%;
  }

  .rotate-img {
    width: 75%;
  }

  .margin-right-twenty {
    margin-right: 8px;
  }

  .video-text-area {
    padding-right: 0px;
    background-image: url("../hassan_component_imgs/Ellipse\ 4.png");
    padding: 34px
  }

  .second-heading {
    font-family: Sora;
    font-size: 25px;
  }

  .detail-text {
    font-size: 16px
  }

  .img-below-text {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1210px) {
  .purple_bubble {
    margin-top: 54%;
  }

  .purple_bubble_div {
    width: 85px;
    height: 85px;
    overflow: hidden;
    rotate: 319deg;
    position: absolute;
    top: 34px;
    left: 475px;
  }

  .yellow-bubble-div {
    right: -82px;
  }

  .light-blue-span {
    padding: 9px;
  }

  .white-box-padding {
    padding: 20px;
  }

  .number-one-span {
    background-size: 100px;
  }

  .number-two-span {
    background-size: 110px;
  }

  .number-three-span {
    background-size: 110px;
  }

  .white-boxes {
    width: 262px !important
  }

  .notable-benifits-row {
    margin-bottom: 75px;
  }

  .margin-right-twenty {
    margin-right: 8px;
  }

  .abosulte-div {
    position: absolute;
    top: -64px;
    left: 0;
    width: 44%;
    height: 108%;
  }

  .simple-step-text {
    font-size: 16px;

  }
}

@media only screen and (min-width: 1211px) and (max-width: 1444px) {

  .button {
    font-size: 15px;
  }

  .abosulte-div {
    position: absolute;
    top: -69px;
    left: 0;
    width: 44%;
  }

  .white-boxes {
    width: 310px !important;
  }

  .margin-right-twenty {
    margin-right: 20px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .yellow-half-circle {
    position: absolute;
    top: 92px;
    width: 80px;
    left: -50px;
  }

  .light-green-half-circle {
    position: relative;
    bottom: 173px;
    width: 67px;
    left: 16px;
  }

  .light-red-circle {
    position: relative;
    width: 68px;
    right: 117px;
    bottom: 36px;
  }

  .margin-bottom-100 {
    margin-bottom: 100px;
  }

  .section-padding {
    padding: 5% 10%;
  }

  .bootstrap_tabs_margin {
    margin: 50px;
  }

  .rotate-img {
    margin-top: 35px;
    width: 80%;
  }

  .top-button:hover .top-button-icon {
    transform: translate(-100px, 0);
  }

  .solution-btn:hover .top-button-icon {
    transform: translate(-181px, 0);
  }

  .started-button:hover .top-button-icon {
    transform: translate(-105px, 0);
  }

  .img-below-text {
    font-size: 16px;
  }

  .second-heading {
    font-size: 28px;
  }

  .title {
    font-size: 28px !important;
  }

  .heading {
    font-size: 16px !important;
  }

  .detail-text {
    font-size: 16px;
  }

  .detail {
    font-size: 16px;
    font-weight: 400;
  }

  .slider-one-background {
    background-size: 1095px 1080px;
  }

  .slider-two-background {
    background-size: 1095px 1080px;
  }

  .slider-two-background {
    background-size: 1095px 1080px;
  }

  .mid-heading {
    font-size: 18px;
  }

  .light-blue-span {
    padding: 12px;
  }

  .white-box-padding {
    padding: 18px;
  }

  .number-one-span {
    background-size: 100px;
  }

  .number-two-span {
    background-size: 110px;
  }

  .number-three-span {
    background-size: 110px;
  }

  .number-span {
    font-size: 16px;
  }

  .notable-benifits-row {
    margin-bottom: 170px;
  }

  .schedule-btn:hover .top-button-icon {
    transform: translate(-341px, 0);
  }

  .schedule-btn:hover .btn-text {
    transform: translate(31px, 0px) !important;
  }

  .touch-btn:hover .btn-text {
    transform: translate(30px, 0px) !important;
  }

  .touch-btn:hover .top-button-icon {
    transform: translate(-165px, 0);
  }

  .yellow-icon-image {

    width: 20px;
    height: 20px;
  }

  .video-text-area {
    padding-right: 141px;
    background-size: 250px;
  }

  .yellow-text {
    font-size: 16px;
  }

}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .video-text-area {
    padding-right: 179px;
    background-size: 300px;
  }

  .rotate-img {
    width: 75%;
  }

  .schedule-btn {
    font-size: 18px !important;
  }

  .schedule-btn:hover .top-button-icon {
    transform: translate(-400px, 0);
  }

  .schedule-btn:hover .btn-text {
    transform: translate(50px, 0px) !important;
  }

  .notable-benifits-row {
    margin-bottom: 160px;
  }

  .slider-one-background {
    background-size: 1308px 1080px
  }

  .slider-two-background {
    background-size: 1308px 1080px
  }

  .slider-two-background {
    background-size: 1308px 1080px
  }

  .button {
    font-size: 20px;
  }

  .form-group .form-control {
    height: 45px;
  }

  .form-select.select-box {
    height: 45px
  }

  .abosulte-div {
    position: absolute;
    top: -56px;
    left: 0;
    width: 44%;
    height: 105%;
  }

  .white-boxes {
    width: 340px !important;
  }

  .mid-heading {
    font-size: 20px;
  }

  .light-blue-span {
    padding: 12px;
  }

  .white-box-padding {
    padding: 20px;
  }

  .number-one-span {
    background-size: 100px;
  }

  .number-two-span {
    background-size: 110px;
  }

  .number-three-span {
    background-size: 110px;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1800px) {
  .slider-one-background {
    background-size: 1540px 1080px;
  }

  .slider-two-background {
    background-size: 1540px 1080px;
  }

  .slider-two-background {
    background-size: 1540px 1080px;
  }

  .white-box-padding {
    padding: 35px 15px 50px;
  }

  .button {
    font-size: 20px;
  }

  .rotate-img {
    transform: rotate(2.42deg);
    width: 75%;
    border-radius: 33px;
  }

  .form-group .form-control {
    height: 45px;
  }

  .form-select.select-box {
    height: 45px
  }

  .abosulte-div {
    position: absolute;
    top: -70px;
    left: 0;
    width: 44%;
    height: 108%;
  }

  .light-red-circle {
    position: relative;
    width: 90px;
    right: 117px;
    top: -33px;
    left: -174px;
  }

  .white-boxes {
    width: 400px !important
  }

  .yellow-half-circle {
    position: absolute;
    top: 99px;
    width: 90px;
    left: -24px;
  }

  .second-heading {
    font-family: Sora;
    font-weight: 700;
    font-size: 42px;
  }
}

@media only screen and (min-width: 1801px) and (max-width: 2000px) {
  .white-box-padding {
    padding: 35px 15px 50px;
  }

  .button {
    font-size: 20px;
  }

  .rotate-img {
    transform: rotate(2.42deg);
    width: 75%;
    border-radius: 33px;
  }

  .light-red-circle {
    position: relative;
    width: 100px;
    right: 117px;
    bottom: 47px;
    left: -174px;
  }

  .form-group .form-control {
    height: 45px;
  }

  .form-select.select-box {
    height: 45px
  }

  .yellow-half-circle {
    position: absolute;
    top: 99px;
    width: 100px;
    left: -49px;
  }

  .margin-right-twenty {
    margin-right: 25px
  }

  .abosulte-div {
    position: absolute;
    top: -78px;
    left: 0;
    width: 44%;
    height: 108%;
  }

  .white-boxes {
    width: 420px !important;
  }

  .second-heading {
    font-family: Sora;
    font-weight: 700;
    font-size: 42px;
  }

  .light-green-half-circle {
    position: relative;
    bottom: 236px;
    left: 20px;
  }
}


.blue {
  color: #315EFF;
}

.lightgrey {
  color: #525252;
}

.darkgrey {
  color: #3D4250;
}

.bg_blue {
  background: #315EFF;
}

.button {
  outline: none;
  border: none;
  background: #315EFF;
  border-radius: 30px;
  font-family: Sora;
}

.anchar_tag {
  text-decoration: none;
  font-family: Sora;
  font-weight: 500;
}

.heading-h4 {
  background-image: url("../images/heading-bg.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding: 20px;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 500;
}

.heading-h4-grey {
  background-image: url("../images/heading-bg.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding: 20px;
  font-size: 20px;
  line-height: 25px;
  color: #525252;
  font-weight: 500;
  font-family: Sora;
}

.width_100 {
  width: 100%;
}

.width_80 {
  width: 80%;
}

.width_90 {
  width: 90%;
}

.title {
  font-family: Sora;
  font-size: 40px;
  font-weight: 700;
}

.heading {
  font-size: 20px;
  font-weight: 500;
}

.detail {

  font-size: 18px;
  font-weight: 400;
}

@media screen and (max-width: 1300px) {
  .width_80 {
    width: 90% !important;
  }

  .title {
    font-size: 27px !important;
  }

  .heading {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 900px) {
  .width_80 {
    width: 90% !important;
  }

  .title {
    font-size: 28px !important;
  }

  .heading {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 700px) {
  .width_80 {
    width: 95% !important;
  }

  .width_90 {
    width: 95%;
  }

  .title {
    font-size: 24px !important;
  }

  .heading {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 400px) {
  .schedule-btn-adj {
    margin-top: 15px;
  }

  .width_80 {
    width: 98% !important;
  }

  .width_90 {
    width: 98%;
  }

  .title {
    font-size: 20px !important;
  }

  .heading {
    font-size: 18px !important;
  }
}

@media screen and (max-width: 1570px) {
  .hiring_section_img {
    height: 450px !important;
  }
}

@media screen and (max-width: 1130px) {
  .hiring_section_img {
    height: 350px !important;
  }
}

@media screen and (max-width: 1400px) {
  .payroll_main_bubble {
    width: 500px !important;
    height: 500px !important;
    border-radius: 100%;
    background: #00C9FF;
    position: absolute;
    bottom: -50%;
    left: -10%;
    z-index: -1;
  }
}

@media screen and (max-width: 1560px) {
  .employee_experience_img_section {
    width: 500px !important;
    height: 487px !important;
  }

  .employee_experience_bubble {
    width: 500px !important;
    height: 500px !important;
    top: -30% !important;
    left: -10% !important;
  }
}

@media screen and (max-width: 1200px) {
  .employee_experience_img_section {
    width: 450px !important;
    height: 437px !important;
  }

  .employee_experience_bubble {
    width: 450px !important;
    height: 450px !important;
    top: -30% !important;
    left: -10% !important;
  }
}

@media screen and (max-width: 1110px) {
  .employee_experience_img_section {
    width: 400px !important;
    height: 387px !important;
  }

  .employee_experience_bubble {
    width: 400px !important;
    height: 400px !important;
    top: -30% !important;
    left: -10% !important;
  }
}

@media screen and (max-width: 1190px) {
  .navlist {
    display: none !important;
  }

  .mobile_nav_btn {
    display: flex !important;
  }
}

@media screen and (max-width: 1360px) {
  .partner_btn_section_bubble_pink {
    display: none !important;
  }

  .partner_btn_section_bubble {
    width: 500px !important;
    height: 500px !important;

  }
}

@media screen and (max-width: 970px) {
  .partner_btn_section_bubble {
    width: 350px !important;
    height: 350px !important;

  }
}

@media screen and (max-width: 768px) {
  .partner_btn_section_bubble {
    width: 250px !important;
    height: 250px !important;
    top: 100px !important;

  }
}

@media screen and (max-width: 520px) {
  .partner_btn_section_bubble {
    width: 250px !important;
    height: 250px !important;
    top: 130px !important;
  }
}

@media screen and (max-width: 1270px) {
  .form_boy-pic {
    width: 60% !important;
  }
}

@media screen and (max-width: 1580px) {
  .hiring_section_bubble_4 {
    left: -200px !important;
  }
}

@media screen and (max-width: 875px) {

  .slider {

    padding-left: 30px !important;
    padding-right: 30px !important;
  }

}

@media screen and (max-width: 600px) {
  .slider_detail {
    width: 100% !important;
  }
}




.switch_automoto {
  min-height: 380px;
}

.hiring_section_img {
  height: 530px;
  background: #FFB72B;
  border-radius: 20px 0px 20px 20px;
}

.hiring_section_bubble_1 {
  width: 155px;
  height: 155px;
  border-radius: 100%;
  background: red;
  position: absolute;
  bottom: -30px;
  left: -38%;
  z-index: -1;
}

.hiring_section_bubble_2 {
  width: 155px;
  height: 155px;
  overflow: hidden;
  rotate: 110deg;
  position: absolute;
  bottom: -70px;
  right: -100px;
}

.hiring_section_bubble_2 .bubble_2 {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: rgba(0, 201, 255, .4);
  margin-top: 50%;
}

.hiring_section_bubble_3 {
  width: 85px;
  height: 85px;
  overflow: hidden;
  rotate: 320deg;
  position: absolute;
  top: -70px;
  right: -80px;
}

.hiring_section_bubble_3 .bubble_3 {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #A74FFF;
  margin-top: 50%;
}

.hiring_section_bubble_4 {
  width: 120px;
  height: 120px;
  overflow: hidden;
  rotate: 40deg;
  position: absolute;
  top: -70px;
  left: -300px;
}

.hiring_section_bubble_4 .bubble_4 {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #315EFF;
  margin-top: 50%;
}

.hiring_section_laptop_img {
  /* position: absolute;
    top: 13%;
    left: -35%;
    z-index: 60; */
  width: 100%;
  height: 100%;
}

.hiring_section_laptop_img img {
  width: 100%;
  margin-right: 200px;
}

.payroll_section {
  width: 80%;
}

.payroll_section_main {
  background: #F2F2F2;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}

.payroll_img {
  width: 90%;
}

.payroll_section_bubble_1 {
  width: 155px;
  height: 155px;
  border-radius: 100%;
  position: absolute;
  top: 30px;
  left: 0px;
  background: #A74FFF;
  z-index: -1;
}

.payroll_section_bubble_2 {
  width: 85px;
  height: 85px;
  overflow: hidden;
  rotate: 320deg;
  position: absolute;
  top: 0px;
  right: 80px;
  z-index: -1;
}

.payroll_section_bubble_2 .bubble_2 {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #FFB72B;
  margin-top: 50%;
}

.payroll_main_bubble {
  width: 720px;
  height: 720px;
  border-radius: 100%;
  background: #00C9FF;
  position: absolute;
  bottom: -50%;
  left: -10%;
  z-index: -1;
}

.employee_experience_img_section {
  width: 700px;
  height: 687px;
  background: #315EFF;
  border-radius: 40% 0px 0px 0px;
  overflow: hidden;
}

.employee_experience_section_main {
  width: 100%;
  justify-content: end;
  display: flex;
  overflow: hidden;
}

.employee_experience_bubble {
  width: 950px;
  height: 950px;
  border-radius: 100%;
  background: #00C9FF;
  position: absolute;
  top: -70%;
  left: -40%;
}

.employee_img {
  position: absolute;
  top: 10%;
  right: 20%;
  width: 100%;
}

.career_section_bubble_1 {
  width: 155px;
  height: 155px;
  border-radius: 100%;
  background: red;
  position: absolute;
  bottom: 40px;
  left: -50px;
  z-index: -1;
}

.career_section_bubble_2 {
  width: 155px;
  height: 155px;
  overflow: hidden;
  rotate: 110deg;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: -1;
}

.career_section_bubble_2 .bubble_2 {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: rgba(0, 201, 255, .4);
  margin-top: 50%;
}

.career_section_bubble_4 {
  width: 120px;
  height: 120px;
  overflow: hidden;
  rotate: 300deg;
  position: absolute;
  top: 0px;
  left: -20%;
}

.career_section_bubble_4 .bubble_4 {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #315EFF;
  margin-top: 50%;
}

.career_section_bubble_3 {
  width: 85px;
  height: 85px;
  overflow: hidden;
  rotate: 40deg;
  position: absolute;
  top: 0px;
  right: 30px;
}

.career_section_bubble_3 .bubble_3 {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #A74FFF;
  margin-top: 50%;
}


.footer_logo {
  width: 227px;
}

.partner_btn_main {
  height: 125px;
}

.partner_btn {
  height: 250px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: #00C9FF;
  z-index: 10;
  border-radius: 150px 150px 150px 0px;
  overflow: hidden;
}

.copyright_section_footer {
  border-top: 1px solid white;
  width: 100%;
}

.partner_btn_section_bubble {
  width: 640px;
  height: 640px;
  border-radius: 100%;
  background: #FFB72B;
  position: absolute;
  right: -20%;
  top: -50px;
}

.partner_btn_section_bubble_pink {
  width: 190px;
  height: 190px;
  border-radius: 100%;
  background: #F9B8C4;
  position: absolute;
  top: 30px;
  right: 24%;
}

.form_section {
  width: 815px;
  background: #F1F6F9;
  border-radius: 20px;
}

.form-group input {
  color: #525252;
  border-radius: 30px;
}

.textarea {
  border-radius: 20px !important;
}

.select-box {
  border-radius: 30px !important;
}

.bullet {
  cursor: pointer;
}

.bullet:hover .divider_inactive {
  border: 2px solid #315EFF;
}

.bullet:hover .inactive_slider {
  color: #315EFF;
}

.divider_active {
  width: 47px;
  height: 0px;
  border: 2px solid #315EFF;
}

.divider_inactive {
  width: 47px;
  height: 0px;
  border: 2px solid rgba(49, 94, 255, .4);
}

.slider {
  padding-left: 100px;
}

.slider_heading {
  font-size: 57px;
  font-weight: bold;
  color: #3D4250;
}

.slider_detail {
  width: 70%;
}

.active_slider {
  color: #315EFF;
}

.inactive_slider {
  color: rgba(49, 94, 255, .4);
}

.nav_btn_1 {
  color: #525252;
  background: #FFB72B;
  border-radius: 30px;
  outline: none;
  border: none;
  width: 505px;
  font-family: Sora;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
}

.nav_btn_2 {
  color: white;
  background: #00C9FF;
  border-radius: 30px;
  border: none;
  outline: none;
  width: 128px;
  font-family: Sora;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
}

.nav_link {
  font-size: 20px;
  font-weight: 500;
  font-family: Sora;
  color: #3D4250 !important;
}

.navbar {
  width: 90%;
}

.navbar_main {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}


@media screen and (max-width: 1543px) {
  .navbar {
    width: 100% !important;
  }
}

@media screen and (max-width: 1389px) {
  .nav_btn_1 {
    font-size: 14px;
  }

  .nav_btn_2 {
    font-size: 14px;
  }

  .carousel {
    height: 100vh !important;
  }

  .slider-content {
    margin-top: 60px;
  }
}

@media screen and (max-width: 1241px) {
  .nav_btn_1 {
    font-size: 12px;
  }

  .nav_btn_2 {
    font-size: 12px;
  }
}

@media screen and (max-width: 1280px) {
  .nav_link {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 1199px) {
  .nav_btn_1 {
    font-size: 16px !important;
  }

  .nav_btn_2 {
    font-size: 16px !important;
  }
}


@media screen and (max-width: 540px) {
  .nav_btn_2 {
    width: 100% !important;
  }

  .nav_btn_1 {
    width: 100% !important;
  }
}

.career_section_bg_color {
  background: #F1F6F9;
}

.career_section_inner {
  z-index: 5;
}

.employee_experience_bubble_bg_color {
  background: #FFB72B;
}

@media screen and (max-width: 991px) {
  .hiring_section_img {
    background: none !important;
    height: auto !important;
  }

  .hiring_section_laptop_img {
    position: relative !important;
    top: 0;
    left: 0;
  }

  .employee_img {
    position: relative !important;
    top: 0;
    right: 0;
  }

}

@media screen and (max-width: 1600px) {
  .nav_btn_1 {
    width: auto;
  }

  .nav_btn_2 {
    width: auto;
  }
}

.indicator_main {
  width: 100px;
}

.carousel-indicators {
  top: 40px;
}

.carousel {
  height: 1080px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .carousel {
    height: auto;
  }
}